span.maselection a.icon.action{
  margin-left: 0.50rem;
}
small {
  padding-left: rem-calc(12px);
  font-size: rem-calc(12px);
}
i {
  line-height: 1.25rem!important;
}

.button {
  background: none;
  box-shadow: none;
  text-shadow: none;
  border-radius: 0;
  border: none;
  font: $font-style;
  color: $font-color;
  padding: rem-calc(8px) !important;
  margin: 0;

  &.icon {
    &.small {
      font-size: rem-calc(14px);
    }
    &.medium {
      font-size: rem-calc(18px);
    }
    &.large {
      font-size: rem-calc(24px);
    }
    background-color: $option-color;
    &.nav {
      background-color: scale_color($navigation-color, $lightness: 7%);
      color: $white;
    }
    &.action {
      background-color: $action-color ;
      color: $white ;
    }
  }
  &.text {
    i {
      padding-right: rem-calc(7px);
      margin-right: rem-calc(7px);
    }
    &.small {
      font-size: rem-calc(14px);
    }
    &.medium {
      font-size: rem-calc(18px);
    }
    &.large {
      font-size: rem-calc(24px);
    }

    &.nav {
      color: $white;
      background-color: $navigation-color;
    }
    &.action {
      color: $white;
      background-color: $action-color;
    }
    &.doublebg {
      color: $white;
      padding: 0 !important;
      padding-right: rem-calc(8px) !important;
      &.action {
        background-color: $action-color;
        padding-right: rem-calc(8px);
        i {
          background-color: scale_color($action-color, $lightness: 15%);
          padding: rem-calc(8px) !important;
          font-size: rem-calc(14px);

        }
      }
      &.nav {
        background-color: $navigation-color;
        i {
          background-color: scale_color($navigation-color, $lightness: 15%);
          padding: rem-calc(8px);
        }
      }
    }
    &.row1 {
      background-color: $primary-color;
      color: $white;
      &.icon {
        background-color: $button-color;
        color: $font-color;
      }
    }
    &.row2 {
      &.icon {
        background-color: $buttonicon-color;
        color: $font-color;
      }
    }
  }
}