/* always show content */
@media (max-width: 1500px) {
    #page-wrapper {
        /*padding-left: 60px;*/
    }

    .sidebar-swipe {
        background: none!important;
        box-shadow: none!important;
        -webkit-box-shadow: none!important;
    }

    .sidebar-toggle {
        background: rgba(86, 132, 60, 0.8);
    }
}

.sidebar-open {
    background-color: rgba(86, 132, 60, 0.8);
    -webkit-box-shadow: 1px 0px 11px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 1px 0px 11px 0 rgba(0, 0, 0, 0.75);
}



.sidebar-toggle {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    cursor: pointer;
    color: white;
    font-size: 40px;
    height: 61px;
    width: 60px;
    text-align: center;
    background: rgb(86, 132, 60);
}

/* hack to open close icon */
.sidebar-togglable .sidebar-toggle.sidebar-toggle-opened i.fa-bars { display: none; }
.sidebar-togglable .sidebar-toggle.sidebar-toggle-closed i.fa-bars { display: block; }

.sidebar-togglable .sidebar-toggle.sidebar-toggle-opened i.fa-times { display: block; }
.sidebar-togglable .sidebar-toggle.sidebar-toggle-closed i.fa-times { display: none; }

.sidebar-togglable .sidebar-toggle {
    padding-top: 12px;
    height: 50px;
}


/*.sidebar-toggle > i {
    font-size: 18px;
    margin: 0 0 0 -5px;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}*/
/*.sidebar-toggle > .fa-sidebar-toggle:before {
    content: "\f0c9";
}*/
/*.sidebar-toggle:hover > i,
.sidebar-toggle.sidebar-toggle-opened > i {
    margin-left: -9px;
}*/
/*.sidebar-toggle + .navbar-brand > img {
    margin-left: 10px;
}*/
.sidebar-togglable .sidebar-toggle {
    display: block;
}

.sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    bottom: 0;
    width: 340px;
    cursor: default;
    -moz-user-select: -moz-none;
    user-select: none;
    -webkit-transform: translate3d(-340px, 0px, 0px);
    transform: translate3d(-340px, 0px, 0px);
}
.sidebar-wrapper.sidebar-ready {
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}
.sidebar-wrapper.sidebar-open {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
.sidebar-wrapper .sidebar-scroller {
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    left: 0;
    right: -18px;
    height: 100%;
}
.sidebar-swipe {
    position: fixed;
    z-index: 56;
    width: 60px;
    left: 0;
    top: 0;
    bottom: 0;
    -moz-user-select: -moz-none;
    user-select: none;

    background-color: rgba(86, 132, 60, 0.8);
    -webkit-box-shadow: 1px 0px 11px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 1px 0px 11px 0 rgba(0, 0, 0, 0.75);
}



.sidebar-open + .sidebar-swipe {
    -webkit-box-shadow: none;
    box-shadow: none;
    display:none;
}

.sidebar-open + .sidebar-swipe,
.sidebar-force-open .sidebar-swipe {
    left: 340px;
}
.sidebar-trigger .sidebar-toggle {
    z-index: 1202;
}
.sidebar-trigger .sidebar-wrapper {
    z-index: 1003;
}
.sidebar-wrapper.sidebar-default {
    color: #222222;
    background-color: rgba(86, 132, 60, 0.8);
}

.sidebar-wrapper.sidebar-default .hammer-scrollbar {
    background-color: #555555;
}

/*.sidebar-right .sidebar-toggle {
    left: auto;
    right: 0;
    padding-left: 20px;
    padding-right: 0;
}*/

.sidebar-right .sidebar-wrapper {
    right: 0;
    -webkit-transform: translate3d(340px, 0px, 0px);
    transform: translate3d(340px, 0px, 0px);
}
.sidebar-right .sidebar-wrapper.sidebar-open {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

.sidebar-right .sidebar-swipe {
    left: auto;
    right: 0;
}
.sidebar-right .sidebar-open + .sidebar-swipe,
.sidebar-right .sidebar-force-open .sidebar-swipe {
    right: 340px;
}
@media (max-width: 400px) {
    .sidebar-wrapper {
        width: 90%;
        -webkit-transform: translate3d(-100%, 0px, 0px);
        transform: translate3d(-100%, 0px, 0px);
    }
    .sidebar-open + .sidebar-swipe,
    .sidebar-force-open .sidebar-open + .sidebar-swipe {
        left: 90%;
    }
    .sidebar-force-open .sidebar-swipe {
        left: 0;
    }
    .sidebar-right .sidebar-toggle {
        padding-left: 7px;
    }
    .sidebar-right .sidebar-wrapper {
        -webkit-transform: translate3d(100%, 0px, 0px);
        transform: translate3d(100%, 0px, 0px);
    }
    .sidebar-right .sidebar-open + .sidebar-swipe {
        left: auto;
        right: 90%;
    }
    .sidebar-right .sidebar-force-open .sidebar-swipe {
        left: auto;
        right: 0;
    }
}
@media (max-width: 991px) {
    .sidebar-force-open .sidebar-wrapper:not(.sidebar-open) + .sidebar-swipe {
        left: 0;
    }
}
@media (min-width: 992px) {
    .sidebar-trigger.sidebar-locked .sidebar-toggle {
        display: none;
    }
    .sidebar-trigger.sidebar-locked .sidebar-wrapper {
        margin-top: 51px;
    }
    .sidebar-wrapper.sidebar-open-init {
        -webkit-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px);
    }
    .sidebar-force-open .sidebar-wrapper.sidebar-open,
    .sidebar-force-open.sidebar-right .sidebar-wrapper.sidebar-open,
    .sidebar-force-open .sidebar-wrapper.sidebar-dragging,
    .sidebar-force-open.sidebar-right .sidebar-wrapper.sidebar-dragging {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
.sidebar-wrapper {
    -ms-touch-action: none;
}
.sidebar-swipe {
    -ms-touch-action: none;
}





.sidebar-wrapper-right {
    right: 0!important;
    left: initial!important;
    background: rgba(235, 231, 219, .95)!important;
    z-index: 9999!important;

    &.sidebar-wrapper {
        width: 70%!important;
    }
}
.sidebar-toggle-rigth-wrapper {

    z-index: 99;
    position: fixed;
    top: 111px;
    right: 0;
} 

.sidebar-toggle-rigth {
    position: relative;
    cursor: pointer;
    font-size: 40px;
    height: 61px;
    width: 60px;
    text-align: center; 
    
/*    .sidebar-right .sidebar-toggle {
        padding: 0;
        margin: 0;
        padding-left: 1px;
    } */

    background: rgb(235, 231, 219)!important;
    padding: 0!important;
    padding-right: 6px!important;
    line-height: 1.25em;
    color: rgb(86, 132, 60)!important;
}
.sidebar-toggle-closed-rigth.sidebar-toggle-opened {
    display: none;
}