@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003111}}
.js body {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003115}}
#overlay-custom header#header {
  display: none;
  z-index: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003119}}
#overlay-custom #overlay-custom-close {
  z-index: 99;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003123}}
#overlay-custom #main-content {
  padding: 2.1em 3.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003126}}
#overlay-custom #main-content #main-content-header {
  max-width: 725px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003128}}
#overlay-custom #main-content #main-content-header h1 {
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-size: 32px;
  color: #353535;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003136}}
#overlay-custom .overlay-inner {
  margin: 2.8em auto;
  max-width: 960px;
  width: 80%;
  padding: 0;
  background: rgba(255, 255, 255, 0.95);
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003148}}
#overlay-custom .overlay-close {
  font-size: 50px;
  color: #353535;
  position: absolute;
  right: 0px;
  margin: 0;
  line-height: 1px;
  padding: .15em .35em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003105}}
#overlay-custom .overlay-close:active, #overlay-custom .overlay-close:hover, #overlay-custom .overlay-close:focus {
  color: #ea5d25;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\000038}}
#overlay-custom .overlay-inner {
  padding: 1.4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000314}}
#mini-panel-bien_row_print ul, #mini-panel-bien_row_print li, #panel-bien_row_description ul, #panel-bien_row_description li {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000319}}
#mini-panel-bien_row_print ul li, #panel-bien_row_description ul li {
  padding: 0.23333em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000320}}
#mini-panel-bien_row_print ul li.info-title, #panel-bien_row_description ul li.info-title {
  font-weight: bold;
  font-size: 18px;
  padding: 0 0 0.35em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000323}}
#mini-panel-bien_row_print ul li i, #panel-bien_row_description ul li i {
  min-width: 1.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000328}}
#mini-panel-bien_row_print .region-two-33-66-top, #panel-bien_row_description .region-two-33-66-top {
  width: 100%;
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000333}}
#mini-panel-bien_row_print .region-two-33-66-top .region-inner, #panel-bien_row_description .region-two-33-66-top .region-inner {
  padding: 2.1em 3.5em 0.7em 3.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000338}}
#mini-panel-bien_row_print .region-two-33-66-top .pane-panels-mini.pane-entete-de-page .region-inner, #panel-bien_row_description .region-two-33-66-top .pane-panels-mini.pane-entete-de-page .region-inner {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000342}}
#mini-panel-bien_row_print .region-two-33-66-top .pane-panels-mini.pane-entete-de-page #site-title, #panel-bien_row_description .region-two-33-66-top .pane-panels-mini.pane-entete-de-page #site-title {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\0000357}}
#mini-panel-bien_row_print .region-two-33-66-top .pane-panels-mini.pane-entete-de-page #site-title .block-inner, #panel-bien_row_description .region-two-33-66-top .pane-panels-mini.pane-entete-de-page #site-title .block-inner {
  display: inline-block;
  text-align: center;
  background: rgba(86, 132, 60, 0.85);
  padding: 8px 7px;
  margin: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\0000364}}
#mini-panel-bien_row_print .region-two-33-66-top .pane-panels-mini.pane-entete-de-page #site-title .block-inner h1, #panel-bien_row_description .region-two-33-66-top .pane-panels-mini.pane-entete-de-page #site-title .block-inner h1 {
  text-shadow: 0px 1px 0px #000000;
  border: 2px solid white;
  padding: 10px 15px;
  color: #ffffff;
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\0000377}}
#mini-panel-bien_row_print .region-two-33-66-top .pane-panels-mini.pane-entete-de-page #site-title a, #panel-bien_row_description .region-two-33-66-top .pane-panels-mini.pane-entete-de-page #site-title a {
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1em;
  color: #ffffff;
  text-shadow: 0px 1px 0px #000000;
  margin: 0;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000349}}
#mini-panel-bien_row_print .region-two-33-66-first, #panel-bien_row_description .region-two-33-66-first {
  width: 50%;
  float: left;
  font-family: Roboto, Arial, Helvetica;
  font-weight: 100;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000353}}
#mini-panel-bien_row_print .region-two-33-66-first .region-inner, #panel-bien_row_description .region-two-33-66-first .region-inner {
  padding: 0.35em 3.5em;
  padding-right: 0.35em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000359}}
#mini-panel-bien_row_print .region-two-33-66-second, #panel-bien_row_description .region-two-33-66-second {
  width: 50%;
  float: left;
  font-family: Roboto, Arial, Helvetica;
  font-weight: 100;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000363}}
#mini-panel-bien_row_print .region-two-33-66-second .region-inner, #panel-bien_row_description .region-two-33-66-second .region-inner {
  padding: 0.35em 3.5em;
  padding-left: 0.35em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000369}}
#mini-panel-bien_row_print .region-two-33-66-bottom, #panel-bien_row_description .region-two-33-66-bottom {
  width: 100%;
  font-family: Roboto, Arial, Helvetica;
  font-weight: 100;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000373}}
#mini-panel-bien_row_print .region-two-33-66-bottom img, #panel-bien_row_description .region-two-33-66-bottom img {
  width: 100%;
  height: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000377}}
#mini-panel-bien_row_print .region-two-33-66-bottom figure, #panel-bien_row_description .region-two-33-66-bottom figure {
  margin: 0;
  float: left;
  width: 49%;
  line-height: 0;
  margin-bottom: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000384}}
#mini-panel-bien_row_print .region-two-33-66-bottom figure.clearfix, #panel-bien_row_description .region-two-33-66-bottom figure.clearfix {
  clear: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000388}}
#mini-panel-bien_row_print .region-two-33-66-bottom figure.even, #panel-bien_row_description .region-two-33-66-bottom figure.even {
  margin-right: .75%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000392}}
#mini-panel-bien_row_print .region-two-33-66-bottom figure.odd, #panel-bien_row_description .region-two-33-66-bottom figure.odd {
  margin-left: .75%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\0000397}}
#mini-panel-bien_row_print .region-two-33-66-bottom .region-inner, #panel-bien_row_description .region-two-33-66-bottom .region-inner {
  padding: 3.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003102}}
#mini-panel-bien_row_print section, #panel-bien_row_description section {
  padding-bottom: 1.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003106}}
#mini-panel-bien_row_print h2, #panel-bien_row_description h2 {
  font-size: 18px;
  margin: 0;
  padding: 0.35em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003112}}
#mini-panel-bien_row_print p, #panel-bien_row_description p {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003117}}
#mini-panel-bien_row_print #language-switcher, #panel-bien_row_description #language-switcher {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003120}}
#mini-panel-bien_row_print .section-title h2, #panel-bien_row_description .section-title h2 {
  color: #353535;
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px #ebe7db;
  text-align: center;
  padding: 0 0 40px 0;
  margin: 0;
  margin-bottom: 0.7em;
  background: url(images/title-ornement-bottom.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-top: 1.2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003123}}
#mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region-inner, #mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .block-inner, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region-inner, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .block-inner {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003129}}
#mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region.region-three-33-top .block-inner, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region.region-three-33-top .block-inner {
  padding-top: 45px;
  background: url(images/title-ornement-top.png);
  background-repeat: no-repeat;
  background-position: center 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003135}}
#mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region.region-three-33-top .block-inner p, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region.region-three-33-top .block-inner p {
  color: #353535;
  font-family: Roboto, Arial;
  font-size: 14px;
  font-weight: 500;
  max-width: 1200px;
  margin: 2em auto;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003146}}
#mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region.region-two-50-first, #mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region.region-two-50-second, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region.region-two-50-first, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region.region-two-50-second {
  margin-top: 0.7em;
  float: left;
  width: 50%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003152}}
#mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region.region-two-50-first .block-content, #mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region.region-two-50-second .block-content, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region.region-two-50-first .block-content, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region.region-two-50-second .block-content {
  background: #ebe7db;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003153}}
#mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region.region-two-50-first .fieldable-panels-pane, #mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region.region-two-50-second .fieldable-panels-pane, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region.region-two-50-first .fieldable-panels-pane, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region.region-two-50-second .fieldable-panels-pane {
  padding: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003155}}
#mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region.region-two-50-first h4, #mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region.region-two-50-second h4, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region.region-two-50-first h4, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region.region-two-50-second h4 {
  background: url(images/agence-separateur.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  text-transform: uppercase;
  color: #353535;
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0 0px 1em 0;
  padding-bottom: 1.3em;
  padding-top: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003169}}
#mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region.region-two-50-first h3, #mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region.region-two-50-second h3, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region.region-two-50-first h3, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region.region-two-50-second h3 {
  font-weight: bold;
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  margin-bottom: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003176}}
#mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region.region-two-50-first p, #mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region.region-two-50-second p, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region.region-two-50-first p, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region.region-two-50-second p {
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003180}}
#mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region.region-two-50-first strong, #mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region.region-two-50-second strong, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region.region-two-50-first strong, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region.region-two-50-second strong {
  font-weight: bold;
  font-size: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003187}}
#mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region.region-two-50-first .block-inner, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region.region-two-50-first .block-inner {
  padding-right: 0.35em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003192}}
#mini-panel-bien_row_print #mini-panel-contact_agence_horizont_short .region.region-two-50-second .block-inner, #panel-bien_row_description #mini-panel-contact_agence_horizont_short .region.region-two-50-second .block-inner {
  padding-left: 0.35em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003200}}
#mini-panel-bien_row_print .site-url, #panel-bien_row_description .site-url {
  margin-top: 1.4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003206}}
#panel-bien_row_description {
  padding-top: 0.7em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003209}}
#panel-bien_row_description .region-two-33-66-first .region-inner, #panel-bien_row_description .region-two-33-66-second .region-inner, #panel-bien_row_description .region-two-33-66-bottom .region-inner {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003213}}
#panel-bien_row_description .region-two-33-66-first .region-inner .block-inner .panel-display .region-inner, #panel-bien_row_description .region-two-33-66-second .region-inner .block-inner .panel-display .region-inner, #panel-bien_row_description .region-two-33-66-bottom .region-inner .block-inner .panel-display .region-inner {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003220}}
#panel-bien_row_description .pane-taxonomy-term-field-image {
  background: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003223}}
#panel-bien_row_description .pane-taxonomy-term-field-image .field-name-field-image {
  padding: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003228}}
#panel-bien_row_description .region-two-33-66-bottom .pane-node-body {
  padding: 1.4em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003170}}
#panel-bien_row_description a {
  padding: 12px 10px;
  background-color: #ebe7db;
  color: #353535;
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-size: 14px;
  border-bottom: 2px solid #353535;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003179}}
#panel-bien_row_description a:active, #panel-bien_row_description a:focus, #panel-bien_row_description a:hover {
  color: #ea5d25;
  border-color: #ea5d25;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003184}}
#panel-bien_row_description a i {
  margin-right: 0.7em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003236}}
body.page-overlayed-contact {
  font-family: Roboto, Arial, Helvetica;
  font-weight: 100;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003237}}
body.page-overlayed-contact .overlay-inner {
  max-width: 1100px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003321}}
body.page-overlayed-contact .region-two-33-66-top {
  margin-bottom: 1.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003322}}
body.page-overlayed-contact .region-two-33-66-top h2 {
  margin: 0;
  padding: 0;
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003327}}
body.page-overlayed-contact .region-two-33-66-top p {
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003334}}
body.page-overlayed-contact .contact-vertical-image .field-name-field-image {
  max-height: 312px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003340}}
body.page-overlayed-contact .contact-vertical-agence {
  margin-top: 0.7em;
  text-align: center;
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003345}}
body.page-overlayed-contact .contact-vertical-agence .block-inner {
  background: #ebe7db;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003347}}
body.page-overlayed-contact .contact-vertical-agence .fieldable-panels-pane.agence-1, body.page-overlayed-contact .contact-vertical-agence .fieldable-panels-pane.agence-2 {
  padding: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003350}}
body.page-overlayed-contact .contact-vertical-agence .fieldable-panels-pane.agence-2 {
  padding-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003353}}
body.page-overlayed-contact .contact-vertical-agence.agence-2 {
  background: url(images/shadow-horizontal-contact.png);
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 9px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003354}}
body.page-overlayed-contact .contact-vertical-agence.agence-2 h3 {
  background: url(images/agence-separateur.png);
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0;
  padding-top: 1.3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003368}}
body.page-overlayed-contact .contact-vertical-agence h4 {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003372}}
body.page-overlayed-contact .contact-vertical-agence h3 {
  font-weight: bold;
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  padding-bottom: 0.35em;
  padding-top: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003380}}
body.page-overlayed-contact .contact-vertical-agence p {
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0.7em 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/_custom\.scss}line{font-family:\00003385}}
body.page-overlayed-contact .contact-vertical-agence strong {
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-size: 26px;
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003244}}
.clearfix {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003248}}
#mini-panel-bien_row_print .region-two-33-66-first .infos-print .region-inner {
  padding-left: 0;
  padding-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003257}}
#overlay-custom #mini-panel-bien_row_print .region-two-33-66-top .region-inner,
#overlay-custom #mini-panel-bien_row_print .region-two-33-66-first .region-inner,
#mini-panel-bien_row_print .region-two-33-66-bottom .region-inner {
  padding-left: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/aci-print\.scss}line{font-family:\00003263}}
#overlay-custom #mini-panel-bien_row_print .region-two-33-66-top .region-inner,
#overlay-custom #mini-panel-bien_row_print .region-two-33-66-second .region-inner,
#mini-panel-bien_row_print .region-two-33-66-bottom .region-inner {
  padding-right: 0 !important;
}
