@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/editor\.scss}line{font-family:\000034}}
body {
  background: white;
  font-family: Roboto, Arial, Helvetica;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/editor\.scss}line{font-family:\000039}}
body h3 {
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-size: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/editor\.scss}line{font-family:\0000313}}
body strong {
  font-weight: bold;
}
