/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000316}}
html {
  font-size: 81.3%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000320}}
body.not-front #block-panels-mini-entete-de-page .region-inner #site-title h1 a {
  font-size: 1.2em !important;
  line-height: 27px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000325}}
.sidebar-toggle-rigth-wrapper {
  top: 61px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000329}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-inactive, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-limit-link, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-inactive, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-limit-link, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link,
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 input#edit-folder, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 input#edit-folder, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth input#edit-folder, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 input#edit-folder, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 input#edit-folder, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 input#edit-folder, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth input#edit-folder, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 input#edit-folder {
  font-size: 1.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000334}}
.region-sidebar-first, .region-sidebar-second {
  margin-top: 0.35em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000338}}
.pane-locale-language-content {
  top: 0.7em !important;
}
