/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small touch devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000316}}
body {
  font-size: 100%;
}

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000326}}
.at-mt .at-menu-toggle {
  /* The toggle link */
  /* Menu items */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000328}}
.at-mt .at-menu-toggle h2 {
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000331}}
.at-mt .at-menu-toggle h2 a {
  background: #eee;
  border: 2px solid #ccc;
  padding: 2px 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000339}}
.at-mt .at-menu-toggle ul.menu li a {
  background: #eee;
  border-bottom: 1px solid #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000345}}
.pane-locale-language-content {
  top: -38px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000348}}
body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-column-left {
  padding-right: 0 !important;
}
