/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the default font size on small touch devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000316}}
body {
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000320}}
.sidebar-swipe {
  z-index: 69;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000325}}
body.front #section-1, #section-2, #section-3, body.not-front #mini-panel-entete_de_page, body.not-front #content .pane-service-links-service-links .block-inner, body.not-front #mini-panel-bien_row, #mini-panel-estate_search_row, .admin-actions .block-inner, body.page-estate #main-content-header, body.agencies-page #block-system-main, body.page-contact.page-panels #block-system-main, body.auvergne-page #block-system-main, #main-content-header,
.view-search-api-search .views-row,
body.page-bien-immobilier-liste #mini-panel-estate_search_row, body.page-estate-search #mini-panel-estate_search_row,
body.node-type-pages.services-page #columns .region.region-three-33-first .panel-pane, body.page-taxonomy-term #block-system-main,
body.node-type-pages.services-page #columns .region.region-three-33-third .panel-pane {
  padding: 0 !important;
}

/*
 * LANGUE SELECTOR
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000337}}
.lang-flag {
  display: none !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000340}}
.lang-noflag {
  position: absolute !important;
  top: -30px;
}

/*
 * HOME
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000350}}
body.front .view-localites-liste-aggregated .views-row {
  margin-bottom: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000355}}
body.front #site-title {
  margin-top: 30px !important;
  margin-bottom: 15px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000359}}
body.front #site-title h1 {
  line-height: 1em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000363}}
body.front #site-title .block-inner {
  margin-left: 0.35em !important;
  margin-right: 0.35em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000370}}
body.front #agence-1 h4, body.front #agence-1 h3, body.front #agence-1 p, body.front #agence-2 h4, body.front #agence-2 h3, body.front #agence-2 p {
  margin-bottom: 0.35em !important;
}

/*
 * HOME
 * SECTION 1
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000384}}
body.front #section-1 {
  min-height: 982px !important;
  padding: 0 !important;
  padding-top: 46px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000390}}
body.front #section-1 .block-inner section.pane-coup-de-coeur-shortlist {
  top: 0 !important;
  position: relative !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000396}}
body.front #section-1 .block-inner section.pane-coup-de-coeur-shortlist .coup-de-coeur .views-field-field-photos img {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003103}}
body.front #section-1 .block-inner .more-link {
  position: relative !important;
  height: auto !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003107}}
body.front #section-1 .block-inner .more-link .block-content {
  margin-top: 0 !important;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003111}}
body.front #section-1 .block-inner .more-link .block-content a {
  float: left;
  width: 100%;
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003122}}
body.front .ldsSkin.ddcommon {
  top: -50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003126}}
body.front .pane-coup-de-coeur-shortlist h2.pane-title.block-title {
  margin-bottom: 0 !important;
  font-size: 100% !important;
  width: 100% !important;
}

/*
 * HOME
 * SECTION 2
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003139}}
body.front #section-2, body.front #section-3 {
  padding: 0 !important;
  padding-top: 0.7em !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003145}}
body.front #section-2 .block-inner .region #agence-1,
body.front #section-2 .block-inner .region #agence-2 {
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003150}}
body.front #section-2 .block-inner .region #agence-2 {
  margin-top: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003154}}
.view-biens-liste .views-row, .view-coup-de-coeur .views-row, .view-search-api-search .views-row {
  width: 100% !important;
  line-height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003157}}
.view-biens-liste .views-row a, .view-coup-de-coeur .views-row a, .view-search-api-search .views-row a {
  line-height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003160}}
.view-biens-liste .views-row h4 a, .view-coup-de-coeur .views-row h4 a, .view-search-api-search .views-row h4 a {
  line-height: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003164}}
.view-biens-liste .views-row.views-row-3, .view-coup-de-coeur .views-row.views-row-3, .view-search-api-search .views-row.views-row-3 {
  margin: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003170}}
body.front #section-2 .block-inner .region.region-three-33-bottom ul.menu {
  text-align: center !important;
  padding: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003175}}
body.front #section-2 .pane-menu-menu-submenu-infos-utilities {
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003179}}
body.front #section-2 .region.region-three-33-top .region-inner {
  padding-left: 0.7em;
  padding-right: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003183}}
body.front #section-2 .region.region-three-33-top .region-inner h2 {
  font-size: 100% !important;
  margin-bottom: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003189}}
body.front #section-2 .pane-menu-menu-submenu-infos-utilities {
  padding-top: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003191}}
body.front #section-2 .pane-menu-menu-submenu-infos-utilities ul {
  padding: 0 !important;
  margin: 0 !important;
  height: 45px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003196}}
body.front #section-2 .pane-menu-menu-submenu-infos-utilities ul li {
  text-align: center !important;
  float: left !important;
  width: 50% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003204}}
body.front #section-2 .pane-menu-menu-submenu-infos-utilities ul li a {
  float: left !important;
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
}

/*
 * HOME
 * SECTION 3
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003220}}
body.front #section-3 .view-localites-liste-aggregated .views-row {
  margin-right: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003226}}
body.front #section-3 .region.region-two-66-33-second .field-name-field-image {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003230}}
body.front #section-3 .region.region-two-66-33-second .field-name-field-image img {
  margin: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003235}}
body.front #section-3 .region.region-two-66-33-top .region-inner {
  padding-left: 0.7em;
  padding-right: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003239}}
body.front #section-3 .region.region-two-66-33-top .region-inner h2 {
  font-size: 100% !important;
  margin-bottom: 0.7em !important;
  padding-bottom: 2.2em !important;
}

/*
 * PAGES
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003253}}
body.node-type-pages.agencies-page #main-content .flexslider.flexslider-processed {
  margin-right: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003256}}
body.not-front {
  /*
   * agencies
   */
  /*
   * services
   */
  /*
   * bien liste
   * search page
   */
  /*
   * PAGE bien immobilier
   */
  /*
   * page localite
   */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003257}}
body.not-front #page-title {
  padding-left: 0.35em !important;
  margin: 5px 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003261}}
body.not-front #mini-panel-entete_de_page #site-title {
  padding-left: 68px !important;
  margin: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003271}}
body.not-front.agencies-page .contact-vertical-image {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003275}}
body.not-front.agencies-page .field-name-body {
  padding: 0.35em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003279}}
body.not-front.agencies-page .contact-link {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003288}}
body.not-front.services-page .panel-pane.pane-panels-mini.contact-link {
  margin-top: 8px;
  width: 100% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003291}}
body.not-front.services-page .panel-pane.pane-panels-mini.contact-link a {
  float: left;
  width: 100%;
  margin-top: -8px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003301}}
body.not-front.services-page .pane-link-contact-location.contact-link a {
  border-bottom: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003306}}
body.not-front.services-page .region.region-three-33-second .region-inner {
  padding: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003310}}
body.not-front.services-page .region.region-three-33-bottom {
  padding-top: 1.4em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003315}}
body.not-front.services-page #section-2 .block-inner .region.region-three-33-top .block-inner h2 {
  font-size: 100% !important;
  margin: auto !important;
  margin-bottom: 0 !important;
  max-width: 230px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003324}}
body.not-front.services-page .block-inner .region #agence-2 {
  margin-top: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003329}}
body.not-front.services-page #mini-panel-home_section_2 .region.region-three-33-bottom {
  padding-top: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003331}}
body.not-front.services-page #mini-panel-home_section_2 .region.region-three-33-bottom ul {
  padding: 0 !important;
  margin: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003334}}
body.not-front.services-page #mini-panel-home_section_2 .region.region-three-33-bottom ul li {
  text-align: center !important;
  float: left !important;
  width: 50% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003342}}
body.not-front.services-page #mini-panel-home_section_2 .region.region-three-33-bottom ul li a {
  float: left !important;
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003362}}
body.not-front.page-bien-immobilier-liste .pane-estate-search-row .region.region-two-66-33-second, body.not-front.page-estate-search .pane-estate-search-row .region.region-two-66-33-second {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003366}}
body.not-front.page-bien-immobilier-liste .view-search-api-search .views-row, body.not-front.page-estate-search .view-search-api-search .views-row {
  padding-bottom: 0.35em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003372}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 input, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 input,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth input, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 input, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 input, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 input,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth input, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 input {
  margin-top: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #C4A95A;
  /*background-color: #ebe7db;*/
  /*padding-left: $gutter-row;*/
  line-height: 2.5em;
  /*max-width: 450px;*/
  color: #353535;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003381}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 input#edit-folder, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 input#edit-folder,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth input#edit-folder, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 input#edit-folder, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 input#edit-folder, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 input#edit-folder,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth input#edit-folder, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 input#edit-folder {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003385}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 input.form-text, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 input.form-text,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth input.form-text, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 input.form-text, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 input.form-text, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 input.form-text,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth input.form-text, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 input.form-text {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003390}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 input[type="submit"], body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 input[type="submit"],
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth input[type="submit"], body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 input[type="submit"], body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 input[type="submit"], body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 input[type="submit"],
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth input[type="submit"], body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 input[type="submit"] {
  color: #f5e990;
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  background: #56843c;
  border-color: #3E6E23;
  line-height: 1.05em;
  padding: 0.35em 0;
  width: 100%;
  height: 44px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003403}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 .views-exposed-widgets, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 .views-exposed-widgets,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth .views-exposed-widgets, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 .views-exposed-widgets, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 .views-exposed-widgets, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 .views-exposed-widgets,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth .views-exposed-widgets, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 .views-exposed-widgets {
  margin-bottom: 0 !important;
  margin-left: 0.35em !important;
  margin-top: 0.35em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003408}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 #edit-folder-wrapper, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 #edit-folder-wrapper,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth #edit-folder-wrapper, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 #edit-folder-wrapper, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 #edit-folder-wrapper, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 #edit-folder-wrapper,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth #edit-folder-wrapper, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 #edit-folder-wrapper {
  width: 75% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003411}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 #edit-submit-search-api-search, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 #edit-submit-search-api-search,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth #edit-submit-search-api-search, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 #edit-submit-search-api-search, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 #edit-submit-search-api-search, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 #edit-submit-search-api-search,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth #edit-submit-search-api-search, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 #edit-submit-search-api-search {
  padding-left: 0.35em;
  padding-right: 0.35em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003415}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 .views-exposed-form .views-exposed-widget, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 .views-exposed-form .views-exposed-widget,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth .views-exposed-form .views-exposed-widget, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 .views-exposed-form .views-exposed-widget, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 .views-exposed-form .views-exposed-widget, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 .views-exposed-form .views-exposed-widget,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth .views-exposed-form .views-exposed-widget, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 .views-exposed-form .views-exposed-widget {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003418}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 form, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 form,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth form, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 form, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 form, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 form,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth form, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 form {
  background: #ebe7db !important;
  padding-bottom: 0.35em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003422}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 ul, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 ul,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth ul, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 ul, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 ul, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 ul,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth ul, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 ul {
  list-style: none;
  margin: 0;
  border-top: 0.35em solid #d8cfb5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003427}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 ul.facetapi-facet-field-localite-ref, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 ul.facetapi-facet-field-localite-ref,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth ul.facetapi-facet-field-localite-ref, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 ul.facetapi-facet-field-localite-ref, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 ul.facetapi-facet-field-localite-ref, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 ul.facetapi-facet-field-localite-ref,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth ul.facetapi-facet-field-localite-ref, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 ul.facetapi-facet-field-localite-ref {
  /*border-top: none!important;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003431}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 ul li, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 ul li,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth ul li, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 ul li, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 ul li, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 ul li,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth ul li, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clear: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003438}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 ul li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 ul li.facetapi-active-wrapper,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth ul li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 ul li.facetapi-active-wrapper, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 ul li.facetapi-active-wrapper, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 ul li.facetapi-active-wrapper,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth ul li.facetapi-active-wrapper, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 ul li.facetapi-active-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003442}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 ul li.facetapi-active-wrapper a, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 ul li.facetapi-active-wrapper a,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth ul li.facetapi-active-wrapper a, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 ul li.facetapi-active-wrapper a, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 ul li.facetapi-active-wrapper a, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 ul li.facetapi-active-wrapper a,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth ul li.facetapi-active-wrapper a, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 ul li.facetapi-active-wrapper a {
  margin-left: 0.7em;
  width: 30px;
  height: 35px;
  overflow: hidden;
  color: #353535;
  font-size: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003454}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-inactive,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-limit-link, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-inactive,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-limit-link, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link {
  float: left;
  width: 100%;
  /*background: $passive-color;*/
  padding: 0.35em;
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-size: 18px;
  font-size: 95%;
  color: #353535;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003463}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive:hover, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive:focus, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper:hover, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper:focus, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link:hover, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link:focus, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive:hover, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive:focus, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper:hover, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper:focus, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link:hover, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link:focus,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-inactive:hover,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-inactive:active,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-inactive:focus,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper:hover,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper:active,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper:focus,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-limit-link:hover,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-limit-link:active,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-limit-link:focus, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive:hover, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive:active, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive:focus, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper:hover, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper:active, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper:focus, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link:hover, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link:active, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link:focus, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive:hover, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive:focus, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper:hover, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper:focus, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link:hover, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link:focus, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive:hover, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive:focus, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper:hover, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper:focus, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link:hover, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link:focus,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-inactive:hover,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-inactive:active,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-inactive:focus,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper:hover,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper:active,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper:focus,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-limit-link:hover,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-limit-link:active,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-limit-link:focus, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive:hover, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive:active, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive:focus, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper:hover, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper:active, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper:focus, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link:hover, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link:active, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link:focus {
  background: rgba(235, 231, 219, 0.8);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003466}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link:active,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-inactive:active,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper:active,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-limit-link:active, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive:active, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper:active, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link:active,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-inactive:active,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper:active,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-limit-link:active, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive:active, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper:active, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link:active {
  color: #ea5d25;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003470}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive i, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper i, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link i, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive i, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper i, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link i,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-inactive i,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper i,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-limit-link i, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive i, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper i, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link i, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive i, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper i, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link i, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive i, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper i, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link i,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-inactive i,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper i,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-limit-link i, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive i, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper i, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link i {
  margin-right: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003474}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-active,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-active, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-active,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-active, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-active {
  padding-left: 0;
  margin-left: 0.35em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003478}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-limit-link, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-limit-link, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link {
  padding-left: 0;
  padding-right: 0;
  font-family: Roboto, Arial, Helvetica;
  font-weight: 100;
  font-size: 14px;
  font-size: 80%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003494}}
body.not-front.node-type-bien-immobilier section.pane-service-links-service-links {
  background: none !important;
  position: relative !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003499}}
body.not-front.node-type-bien-immobilier section.pane-service-links-service-links .block-inner h2.block-title {
  padding: 0 !important;
  margin: 0.35em 0 0 0.35em !important;
  width: 95%;
  line-height: 0.85em !important;
  background: rgba(255, 255, 255, 0.8);
  /*                margin-left: .35em!important;
                  margin-right: 75px!important;
                  margin-top: .2em!important;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003509}}
body.not-front.node-type-bien-immobilier section.pane-service-links-service-links .block-inner .service-links {
  position: absolute;
  right: 0;
  top: 45px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003513}}
body.not-front.node-type-bien-immobilier section.pane-service-links-service-links .block-inner .service-links ul li {
  display: block !important;
  margin-right: 0.7em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003514}}
body.not-front.node-type-bien-immobilier section.pane-service-links-service-links .block-inner .service-links ul li.first {
  display: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003530}}
body.not-front.page-taxonomy-term img.image-style-large {
  border: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003533}}
body.not-front.page-taxonomy-term .pane-taxonomy-term-description-field {
  padding: 0 0.35em !important;
  padding-bottom: 0.7em !important;
}

/*
 * HEADER
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003544}}
body.not-front #block-panels-mini-entete-de-page .region-inner {
  padding-top: 0px !important;
  height: 50px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003548}}
h1.site-title {
  line-height: 0.75em !important;
  width: 80% !important;
  margin-top: 5px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003554}}
h1.site-title a {
  font-size: 85% !important;
}

/*
 * FOOTER
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003567}}
#footer {
  padding: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003571}}
#footer .region-inner #mini-panel-pied_de_page {
  padding-left: 0.35em;
  padding-right: 0.35em;
}

/*
 * OVERLAY
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003583}}
#overlay-inner, .overlay-inner {
  width: 98% !important;
  max-width: 98% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003587}}
#overlay-inner #main-content, .overlay-inner #main-content {
  padding: 35px 0.35em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003590}}
#overlay-inner #main-content-header h1, .overlay-inner #main-content-header h1 {
  line-height: 1em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003594}}
#overlay-inner #main-content input.form-text, .overlay-inner #main-content input.form-text {
  width: 96% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003597}}
#overlay-inner #panel-bien_row_description .region-two-33-66-first, .overlay-inner #panel-bien_row_description .region-two-33-66-first {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003600}}
#overlay-inner #mini-panel-bien_contact_link, .overlay-inner #mini-panel-bien_contact_link {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003604}}
#overlay-inner form.node-contact-form .region.region-two-33-66-second .region-inner, .overlay-inner form.node-contact-form .region.region-two-33-66-second .region-inner {
  padding-left: 0 !important;
  padding-top: 0.7em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003608}}
#overlay-inner form.node-contact-form .region.region-two-33-66-second .region-inner .form-item.form-type-textfield, .overlay-inner form.node-contact-form .region.region-two-33-66-second .region-inner .form-item.form-type-textfield {
  width: 100% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003611}}
#overlay-inner form.node-contact-form .region.region-two-33-66-second .region-inner input.form-text, .overlay-inner form.node-contact-form .region.region-two-33-66-second .region-inner input.form-text {
  width: 100% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003614}}
#overlay-inner form.node-contact-form .region.region-two-33-66-second .region-inner .form-actions.form-wrapper, .overlay-inner form.node-contact-form .region.region-two-33-66-second .region-inner .form-actions.form-wrapper {
  text-align: center !important;
}

/*
 * BAD HACK
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003631}}
.second-sidebar-rigth-wrapper {
  display: block !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003634}}
body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-description-link a, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-autres-a-proximite a, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-link-flag-favoris a, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .favoris-link a, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-contact-link a {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003638}}
body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-description-link a i, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-autres-a-proximite a i, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-link-flag-favoris a i, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .favoris-link a i, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-contact-link a i {
  margin-left: 0.7em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003641}}
body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-column-left {
  padding-top: 0.7em !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003644}}
body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-localites-liste-aggregated-panel-pane-1 {
  margin: 0 !important;
  margin-bottom: 0.7em !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003648}}
body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-second {
  padding-top: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003651}}
#mini-panel-bien_contact_link {
  margin-bottom: 0.7em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003653}}
#mini-panel-bien_contact_link a {
  margin-bottom: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003658}}
body.front #section-1 #site-title {
  top: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003663}}
body.page-contact-defaut input.form-text {
  width: 100% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003666}}
body.page-contact-defaut form.node-contact-form .form-item {
  width: 95% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003669}}
body.page-contact-defaut form.node-contact-form .form-item.form-type-textarea {
  width: 98% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003672}}
body.page-contact-defaut .field-name-description-field {
  padding: 0 0.35em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003675}}
body.page-contact-defaut form.node-contact-form .region.region-two-33-66-second .region-inner {
  padding-left: 0.35em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003678}}
body.page-contact-defaut .form-actions {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003683}}
.tel-number {
  top: -50px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003687}}
.pane-locale-language-content {
  top: -38px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/auvergne-combrailles\.immo\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003690}}
body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-column-left {
  padding-right: 0 !important;
}
