/*
 * responsive.custom.css is for custom media queries that are not set via the
 * theme settings, such as cascading media queries.
 *
 * By default all the other responsive stylesheets used in Adaptivetheme use a
 * "stacking method", however cascading media queries use a waterfall method so
 * you can leverage the cascade and inheritance for all browsers that support
 * media queries, regardless of screen size.
 *
 * @SEE http://zomigi.com/blog/essential-considerations-for-crafting-quality-media-queries/#mq-overlap-stack
 *
 * NOTE: this file loads by default, to disable got to your theme settings and
 * look under the "CSS" settings tab.
 */
/*
 * Really small screens and up
 */
/* @media only screen and (min-width: 220px) {} */
/*
 * Smalltouch sizes and up
 */
/* @media only screen and (min-width: 320px) {} */
/*
 * Smalltouch sizes and down
 */
@media only screen and (max-width: 480px) {
  /* 
   * Float Region Blocks - custom media query CSS example:
   * 
   * Float regions blocks is an Extension you can enable in the appearance
   * settings for your theme. This feature allows you to automatically float
   * blocks in regions, you can switch it on and off depending on your
   * requirements. For design purposes you many want to remove the floats for
   * devices where the entire theme is just one column - for example small
   * mobile phones. The following CSS is inside the custom media query:
   *
   *   @media only screen and (max-width: 480px){}
   *
   * This will target devices with a maximum width of 480px - most small phones.
   * In these smaller screen sizes we can remove the float and widths so all
   * blocks stack instead of displaying horizonally. The selector used is an
   * "attribute selector" which will match on any float block class. Use your
   * inspector or Firebug to get the classes from the page output if you need
   * more granular control over block alignment and stacking.
   */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.custom\.scss}line{font-family:\0000357}}
  .region[class*="float-blocks"] .block {
    float: none;
    width: 100%;
  }
}
/*
 * Tablet sizes and up
 */
/* @media only screen and (min-width: 768px) {} */
/*
 * Desktops/laptops and up
 */
/* @media only screen and (min-width: 1025px) {} */


@media only screen and (max-width:768px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the default font size on small touch devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000316}}
body {
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000320}}
.sidebar-swipe {
  z-index: 69;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000325}}
body.front #section-1, #section-2, #section-3, body.not-front #mini-panel-entete_de_page, body.not-front #content .pane-service-links-service-links .block-inner, body.not-front #mini-panel-bien_row, #mini-panel-estate_search_row, .admin-actions .block-inner, body.page-estate #main-content-header, body.agencies-page #block-system-main, body.page-contact.page-panels #block-system-main, body.auvergne-page #block-system-main, #main-content-header,
.view-search-api-search .views-row,
body.page-bien-immobilier-liste #mini-panel-estate_search_row, body.page-estate-search #mini-panel-estate_search_row,
body.node-type-pages.services-page #columns .region.region-three-33-first .panel-pane, body.page-taxonomy-term #block-system-main,
body.node-type-pages.services-page #columns .region.region-three-33-third .panel-pane {
  padding: 0 !important;
}

/*
 * LANGUE SELECTOR
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000337}}
.ddlabel {
  margin-left: -30px;
  z-index: 9;
  position: absolute;
  text-indent: -9999999px;
  overflow: hidden;
  width: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000345}}
.ldsSkin.ddcommon {
  width: 58px !important;
  position: absolute;
  z-index: 70;
  right: 0.35em;
  top: 68px;
}

/*
 * HOME
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000358}}
body.front .view-localites-liste-aggregated .views-row {
  margin-bottom: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000363}}
body.front #site-title {
  margin-top: 30px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000366}}
body.front #site-title .block-inner {
  margin-left: 0.35em !important;
  margin-right: 0.35em !important;
}

/*
 * HOME
 * SECTION 1
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000381}}
body.front #section-1 {
  min-height: 982px !important;
  padding: 0 !important;
  padding-top: 46px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000387}}
body.front #section-1 .block-inner section.pane-coup-de-coeur-shortlist {
  top: 0 !important;
  position: relative !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000392}}
body.front #section-1 .block-inner .more-link {
  position: relative !important;
  height: auto !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\0000396}}
body.front #section-1 .block-inner .more-link .block-content {
  margin-top: 0 !important;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003100}}
body.front #section-1 .block-inner .more-link .block-content a {
  float: left;
  width: 100%;
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003111}}
body.front .ldsSkin.ddcommon {
  top: -50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003115}}
body.front .pane-coup-de-coeur-shortlist h2.pane-title.block-title {
  margin-bottom: 0 !important;
  font-size: 100% !important;
  width: 100% !important;
}

/*
 * HOME
 * SECTION 2
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003128}}
body.front #section-2, body.front #section-3 {
  padding: 0 !important;
  padding-top: 0.7em !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003134}}
body.front #section-2 .block-inner .region #agence-1,
body.front #section-2 .block-inner .region #agence-2 {
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003139}}
body.front #section-2 .block-inner .region #agence-2 {
  margin-top: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003143}}
.view-biens-liste .views-row, .view-coup-de-coeur .views-row, .view-search-api-search .views-row {
  width: 100% !important;
  line-height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003146}}
.view-biens-liste .views-row a, .view-coup-de-coeur .views-row a, .view-search-api-search .views-row a {
  line-height: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003150}}
.view-biens-liste .views-row.views-row-3, .view-coup-de-coeur .views-row.views-row-3, .view-search-api-search .views-row.views-row-3 {
  margin: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003156}}
body.front #section-2 .block-inner .region.region-three-33-bottom ul.menu {
  text-align: center !important;
  padding: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003161}}
body.front #section-2 .pane-menu-menu-submenu-infos-utilities {
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003165}}
body.front #section-2 .region.region-three-33-top .region-inner {
  padding-left: 0.7em;
  padding-right: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003169}}
body.front #section-2 .region.region-three-33-top .region-inner h2 {
  font-size: 100% !important;
  margin-bottom: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003175}}
body.front #section-2 .pane-menu-menu-submenu-infos-utilities {
  padding-top: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003177}}
body.front #section-2 .pane-menu-menu-submenu-infos-utilities ul {
  padding: 0 !important;
  margin: 0 !important;
  height: 45px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003182}}
body.front #section-2 .pane-menu-menu-submenu-infos-utilities ul li {
  text-align: center !important;
  float: left !important;
  width: 50% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003190}}
body.front #section-2 .pane-menu-menu-submenu-infos-utilities ul li a {
  float: left !important;
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
}

/*
 * HOME
 * SECTION 3
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003206}}
body.front #section-3 .view-localites-liste-aggregated .views-row {
  margin-right: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003212}}
body.front #section-3 .region.region-two-66-33-second .field-name-field-image {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003216}}
body.front #section-3 .region.region-two-66-33-second .field-name-field-image img {
  margin: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003221}}
body.front #section-3 .region.region-two-66-33-top .region-inner {
  padding-left: 0.7em;
  padding-right: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003225}}
body.front #section-3 .region.region-two-66-33-top .region-inner h2 {
  font-size: 100% !important;
  margin-bottom: 0.7em !important;
  padding-bottom: 2.2em !important;
}

/*
 * PAGES
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003239}}
body.node-type-pages.agencies-page #main-content .flexslider.flexslider-processed {
  margin-right: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003242}}
body.not-front {
  /*
   * agencies
   */
  /*
   * services
   */
  /*
   * bien liste
   * search page
   */
  /*
   * PAGE bien immobilier
   */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003243}}
body.not-front #page-title {
  padding-left: 0.35em !important;
  margin: 5px 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003247}}
body.not-front #mini-panel-entete_de_page #site-title {
  padding-left: 68px !important;
  margin: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003257}}
body.not-front.agencies-page .contact-vertical-image {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003261}}
body.not-front.agencies-page .field-name-body {
  padding: 0.35em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003265}}
body.not-front.agencies-page .contact-link {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003274}}
body.not-front.services-page .panel-pane.pane-panels-mini.contact-link {
  margin-top: 8px;
  width: 100% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003277}}
body.not-front.services-page .panel-pane.pane-panels-mini.contact-link a {
  float: left;
  width: 100%;
  margin-top: -8px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003287}}
body.not-front.services-page .pane-link-contact-location.contact-link a {
  border-bottom: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003292}}
body.not-front.services-page .region.region-three-33-second .region-inner {
  padding: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003296}}
body.not-front.services-page .region.region-three-33-bottom {
  padding-top: 1.4em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003301}}
body.not-front.services-page #section-2 .block-inner .region.region-three-33-top .block-inner h2 {
  font-size: 100% !important;
  margin: auto !important;
  margin-bottom: 0 !important;
  max-width: 230px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003310}}
body.not-front.services-page .block-inner .region #agence-2 {
  margin-top: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003315}}
body.not-front.services-page #mini-panel-home_section_2 .region.region-three-33-bottom {
  padding-top: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003317}}
body.not-front.services-page #mini-panel-home_section_2 .region.region-three-33-bottom ul {
  padding: 0 !important;
  margin: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003320}}
body.not-front.services-page #mini-panel-home_section_2 .region.region-three-33-bottom ul li {
  text-align: center !important;
  float: left !important;
  width: 50% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003328}}
body.not-front.services-page #mini-panel-home_section_2 .region.region-three-33-bottom ul li a {
  float: left !important;
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003346}}
body.not-front.page-bien-immobilier-liste .view-search-api-search .views-row, body.not-front.page-estate-search .view-search-api-search .views-row {
  padding-bottom: 0.35em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003352}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 input, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 input,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth input, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 input, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 input, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 input,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth input, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 input {
  margin-top: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #C4A95A;
  /*background-color: #ebe7db;*/
  /*padding-left: $gutter-row;*/
  line-height: 2.5em;
  /*max-width: 450px;*/
  color: #353535;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003361}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 input#edit-folder, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 input#edit-folder,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth input#edit-folder, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 input#edit-folder, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 input#edit-folder, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 input#edit-folder,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth input#edit-folder, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 input#edit-folder {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003365}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 input.form-text, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 input.form-text,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth input.form-text, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 input.form-text, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 input.form-text, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 input.form-text,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth input.form-text, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 input.form-text {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003370}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 input[type="submit"], body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 input[type="submit"],
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth input[type="submit"], body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 input[type="submit"], body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 input[type="submit"], body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 input[type="submit"],
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth input[type="submit"], body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 input[type="submit"] {
  color: #f5e990;
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  background: #56843c;
  border-color: #3E6E23;
  line-height: 1.05em;
  padding: 0.35em 0;
  width: 100%;
  height: 44px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003383}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 .views-exposed-widgets, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 .views-exposed-widgets,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth .views-exposed-widgets, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 .views-exposed-widgets, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 .views-exposed-widgets, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 .views-exposed-widgets,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth .views-exposed-widgets, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 .views-exposed-widgets {
  margin-bottom: 0 !important;
  margin-left: 0.35em !important;
  margin-top: 0.35em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003388}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 #edit-folder-wrapper, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 #edit-folder-wrapper,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth #edit-folder-wrapper, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 #edit-folder-wrapper, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 #edit-folder-wrapper, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 #edit-folder-wrapper,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth #edit-folder-wrapper, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 #edit-folder-wrapper {
  width: 75% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003391}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 #edit-submit-search-api-search, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 #edit-submit-search-api-search,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth #edit-submit-search-api-search, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 #edit-submit-search-api-search, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 #edit-submit-search-api-search, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 #edit-submit-search-api-search,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth #edit-submit-search-api-search, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 #edit-submit-search-api-search {
  padding-left: 0.35em;
  padding-right: 0.35em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003395}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 .views-exposed-form .views-exposed-widget, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 .views-exposed-form .views-exposed-widget,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth .views-exposed-form .views-exposed-widget, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 .views-exposed-form .views-exposed-widget, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 .views-exposed-form .views-exposed-widget, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 .views-exposed-form .views-exposed-widget,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth .views-exposed-form .views-exposed-widget, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 .views-exposed-form .views-exposed-widget {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003398}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 form, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 form,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth form, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 form, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 form, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 form,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth form, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 form {
  background: #ebe7db !important;
  padding-bottom: 0.35em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003402}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 ul, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 ul,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth ul, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 ul, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 ul, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 ul,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth ul, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 ul {
  list-style: none;
  margin: 0;
  border-top: 0.35em solid #d8cfb5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003407}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 ul.facetapi-facet-field-localite-ref, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 ul.facetapi-facet-field-localite-ref,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth ul.facetapi-facet-field-localite-ref, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 ul.facetapi-facet-field-localite-ref, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 ul.facetapi-facet-field-localite-ref, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 ul.facetapi-facet-field-localite-ref,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth ul.facetapi-facet-field-localite-ref, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 ul.facetapi-facet-field-localite-ref {
  /*border-top: none!important;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003411}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 ul li, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 ul li,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth ul li, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 ul li, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 ul li, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 ul li,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth ul li, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clear: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003418}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 ul li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 ul li.facetapi-active-wrapper,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth ul li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 ul li.facetapi-active-wrapper, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 ul li.facetapi-active-wrapper, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 ul li.facetapi-active-wrapper,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth ul li.facetapi-active-wrapper, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 ul li.facetapi-active-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003422}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 ul li.facetapi-active-wrapper a, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 ul li.facetapi-active-wrapper a,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth ul li.facetapi-active-wrapper a, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 ul li.facetapi-active-wrapper a, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 ul li.facetapi-active-wrapper a, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 ul li.facetapi-active-wrapper a,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth ul li.facetapi-active-wrapper a, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 ul li.facetapi-active-wrapper a {
  margin-left: 0.7em;
  width: 30px;
  height: 35px;
  overflow: hidden;
  color: #353535;
  font-size: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003434}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-inactive,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-limit-link, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-inactive,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-limit-link, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link {
  float: left;
  width: 100%;
  /*background: $passive-color;*/
  padding: 0.35em;
  font-family: "Mate SC", serif;
  font-weight: 400;
  font-size: 18px;
  font-size: 95%;
  color: #353535;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003443}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive:hover, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive:focus, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper:hover, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper:focus, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link:hover, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link:focus, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive:hover, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive:focus, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper:hover, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper:focus, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link:hover, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link:focus,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-inactive:hover,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-inactive:active,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-inactive:focus,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper:hover,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper:active,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper:focus,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-limit-link:hover,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-limit-link:active,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-limit-link:focus, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive:hover, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive:active, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive:focus, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper:hover, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper:active, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper:focus, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link:hover, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link:active, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link:focus, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive:hover, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive:focus, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper:hover, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper:focus, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link:hover, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link:focus, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive:hover, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive:focus, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper:hover, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper:focus, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link:hover, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link:focus,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-inactive:hover,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-inactive:active,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-inactive:focus,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper:hover,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper:active,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper:focus,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-limit-link:hover,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-limit-link:active,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-limit-link:focus, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive:hover, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive:active, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive:focus, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper:hover, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper:active, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper:focus, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link:hover, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link:active, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link:focus {
  background: rgba(235, 231, 219, 0.8);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003446}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper:active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link:active,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-inactive:active,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper:active,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-limit-link:active, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive:active, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper:active, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper:active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link:active,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-inactive:active,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper:active,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-limit-link:active, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive:active, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper:active, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link:active {
  color: #ea5d25;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003450}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive i, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper i, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link i, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive i, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper i, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link i,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-inactive i,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper i,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-limit-link i, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive i, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper i, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link i, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive i, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper i, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link i, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive i, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper i, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link i,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-inactive i,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper i,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-limit-link i, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive i, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper i, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link i {
  margin-right: 0.7em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003454}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-active, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-active,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-active, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-active, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-active,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-active, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-active {
  padding-left: 0;
  margin-left: 0.35em !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003458}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link,
body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-limit-link, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link,
body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-limit-link, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link {
  padding-left: 0;
  padding-right: 0;
  font-family: Roboto, Arial, Helvetica;
  font-weight: 100;
  font-size: 14px;
  font-size: 80%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003474}}
body.not-front.node-type-bien-immobilier section.pane-service-links-service-links {
  background: none !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003478}}
body.not-front.node-type-bien-immobilier section.pane-service-links-service-links .block-inner h2.block-title {
  padding: 0 !important;
  margin: 0 !important;
  line-height: 0.85em !important;
  background: rgba(255, 255, 255, 0.8);
  /*                margin-left: .35em!important;
                  margin-right: 75px!important;
                  margin-top: .2em!important;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003487}}
body.not-front.node-type-bien-immobilier section.pane-service-links-service-links .block-inner .service-links ul li {
  display: block !important;
}

/*
 * HEADER
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003499}}
body.not-front #block-panels-mini-entete-de-page .region-inner {
  padding-top: 0px !important;
  height: 50px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003503}}
h1.site-title {
  line-height: 0.75em !important;
  width: 80% !important;
  margin-top: 5px !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003509}}
h1.site-title a {
  font-size: 85% !important;
}

/*
 * FOOTER
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003522}}
#footer {
  padding: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003526}}
#footer .region-inner #mini-panel-pied_de_page {
  padding-left: 0.35em;
  padding-right: 0.35em;
}

/*
 * BAD HACK
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003538}}
.second-sidebar-rigth-wrapper {
  display: block !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003541}}
body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-description-link a, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-autres-a-proximite a, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-link-flag-favoris a, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .favoris-link a, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-contact-link a {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.portrait\.scss}line{font-family:\00003545}}
body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-description-link a i, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-autres-a-proximite a i, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-link-flag-favoris a i, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .favoris-link a i, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-contact-link a i {
  margin-left: 0.7em;
}

}
@media only screen and (min-width:321px) and (max-width:580px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small touch devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000316}}
body {
  font-size: 100%;
}

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000326}}
.at-mt .at-menu-toggle {
  /* The toggle link */
  /* Menu items */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000328}}
.at-mt .at-menu-toggle h2 {
  margin-bottom: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000331}}
.at-mt .at-menu-toggle h2 a {
  background: #eee;
  border: 2px solid #ccc;
  padding: 2px 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000339}}
.at-mt .at-menu-toggle ul.menu li a {
  background: #eee;
  border-bottom: 1px solid #fff;
}

}
@media only screen and (min-width:581px) and (max-width:768px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000316}}
html {
  font-size: 81.3%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000320}}
body.not-front #block-panels-mini-entete-de-page .region-inner #site-title h1 a {
  font-size: 1.2em !important;
  line-height: 1.7em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000325}}
.ldsSkin.ddcommon {
  top: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000328}}
.sidebar-toggle-rigth-wrapper {
  top: 61px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000332}}
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-inactive, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-limit-link, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-inactive, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-limit-link, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link,
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 input#edit-folder, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 input#edit-folder, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth input#edit-folder, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 input#edit-folder, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 input#edit-folder, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 input#edit-folder, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth input#edit-folder, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 input#edit-folder {
  font-size: 1.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/aci2\/public_html\/sites\/all\/themes\/aci\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000337}}
.region-sidebar-first, .region-sidebar-second {
  margin-top: 0.35em;
}

}
@media only screen and (min-width:769px) and (max-width:1024px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete 
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

}
@media only screen and (min-width:1025px) {
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

}