/* Gutters are not currently overridden in theme settings, but may be in theme CSS */
/* bigscreen three_col_grail */
.container {width:100%}
#content-column,.content-column,div.sidebar {float: left; clear: none}
.two-sidebars .content-inner {margin-left: 25%; margin-right: 25%}
.sidebar-first .content-inner {margin-left: 25%; margin-right: 0}
.sidebar-second .content-inner {margin-right: 25%; margin-left: 0}
.region-sidebar-first {width: 25%; margin-left: -100%}
.region-sidebar-second {width: 25%; margin-left: -25%}
.at-panel .region {display:inline;float:left}.two-brick > .panel-row {float:none}.two-brick > .panel-row > .region,.two-50 > .region,.three-25-25-50 > div.region-three-25-25-50-third,.three-50-25-25 > div.region-three-50-25-25-first,.three-25-50-25 > div.region-three-25-50-25-second,.five-5x20 > .row-1 div.region-five-first,.five-5x20 .row-1 div.region-five-second {width:50%}.two-66-33 > .region-two-66-33-first,.two-33-66 > .region-two-33-66-second,.three-inset-right > .inset-wrapper > div.region-three-inset-right-middle,.three-inset-left > .inset-wrapper > div.region-three-inset-left-middle {width:66.666666%}.two-66-33 > .region-two-66-33-second,.two-33-66 > .region-two-33-66-first,.three-3x33 > .region,.three-inset-right > .inset-wrapper > div.region-three-inset-right-inset,.three-inset-left > .inset-wrapper > div.region-three-inset-left-inset,.five-5x20 > .panel-row > .region {width:33.333333%}.three-25-25-50 > .region,.three-50-25-25 > .region,.three-25-50-25 > .region,.three-inset-right > .region-three-inset-right-sidebar,.three-inset-left > .region-three-inset-left-sidebar {width:25%}.three-inset-right > .inset-wrapper {width:75%;float:left}.three-inset-right > .inset-wrapper > .region,.three-inset-left > .inset-wrapper > .region {width:100%}.three-inset-left > .region-three-inset-left-sidebar,.three-inset-left > .inset-wrapper,.three-inset-left > .inset-wrapper > .region-three-inset-left-middle {float:right}.three-inset-left > .inset-wrapper {width:75%}.four-4x25 > .panel-row > .region,.four-4x25 > .panel-row {width:50%;float:left}.five-5x20 > .panel-row,.six-6x16 > .panel-row > .region {float:none;display:block;width:100%;clear:both}.six-6x16 > .panel-row {width:33.333333%;float:left}
