.navbar-fixed-top + .sidebar-trigger .sidebar-toggle,
.navbar-fixed-bottom + .sidebar-trigger .sidebar-toggle,
.navbar-fixed-top + .sidebar-trigger + .sidebar-trigger .sidebar-toggle,
.navbar-fixed-bottom + .sidebar-trigger + .sidebar-trigger .sidebar-toggle {
  z-index: 1033;
}
.navbar-fixed-top + .sidebar-trigger .sidebar-wrapper,
.navbar-fixed-bottom + .sidebar-trigger .sidebar-wrapper,
.navbar-fixed-top + .sidebar-trigger + .sidebar-trigger .sidebar-wrapper,
.navbar-fixed-bottom + .sidebar-trigger + .sidebar-trigger .sidebar-wrapper {
  z-index: 1032;
}
.navbar-fixed-bottom + .sidebar-trigger .sidebar-toggle,
.navbar-fixed-bottom + .sidebar-trigger + .sidebar-trigger .sidebar-toggle {
  top: inherit;
  bottom: 0;
}
.navbar-fixed-top + .container,
.navbar-fixed-top + .container-fluid,
.navbar-fixed-top + .sidebar-trigger + .container,
.navbar-fixed-top + .sidebar-trigger + .container-fluid,
.navbar-fixed-top + .sidebar-trigger + .sidebar-trigger + .container,
.navbar-fixed-top + .sidebar-trigger + .sidebar-trigger + .container-fluid {
  margin-top: 70px;
}
.navbar-fixed-bottom + .container,
.navbar-fixed-bottom + .container-fluid,
.navbar-fixed-bottom + .sidebar-trigger + .container,
.navbar-fixed-bottom + .sidebar-trigger + .container-fluid,
.navbar-fixed-bottom + .sidebar-trigger + .sidebar-trigger + .container,
.navbar-fixed-bottom + .sidebar-trigger + .sidebar-trigger + .container-fluid {
  margin-bottom: 70px;
}
@media (max-width: 991px) {
  .navbar-fixed-top + .sidebar-trigger .sidebar-toggle,
  .navbar-fixed-bottom + .sidebar-trigger .sidebar-toggle,
  .navbar-fixed-top + .sidebar-trigger + .sidebar-trigger .sidebar-toggle,
  .navbar-fixed-bottom + .sidebar-trigger + .sidebar-trigger .sidebar-toggle {
    z-index: 1033;
  }
  .navbar-fixed-top + .sidebar-trigger .sidebar-wrapper,
  .navbar-fixed-bottom + .sidebar-trigger .sidebar-wrapper,
  .navbar-fixed-top + .sidebar-trigger + .sidebar-trigger .sidebar-wrapper,
  .navbar-fixed-bottom + .sidebar-trigger + .sidebar-trigger .sidebar-wrapper {
    z-index: 1032;
  }
}
@media (min-width: 992px) {
  .navbar-static-top + .sidebar-trigger.sidebar-locked .sidebar-toggle,
  .navbar-static-bottom + .sidebar-trigger.sidebar-locked .sidebar-toggle,
  .navbar-static-top + .sidebar-trigger + .sidebar-trigger.sidebar-locked .sidebar-toggle,
  .navbar-static-bottom + .sidebar-trigger + .sidebar-trigger.sidebar-locked .sidebar-toggle {
    z-index: 1001;
  }
  .navbar-static-top + .sidebar-trigger.sidebar-locked .sidebar-wrapper,
  .navbar-static-bottom + .sidebar-trigger.sidebar-locked .sidebar-wrapper,
  .navbar-static-top + .sidebar-trigger + .sidebar-trigger.sidebar-locked .sidebar-wrapper,
  .navbar-static-bottom + .sidebar-trigger + .sidebar-trigger.sidebar-locked .sidebar-wrapper {
    z-index: 999;
  }
  .navbar-fixed-top + .sidebar-trigger.sidebar-locked .sidebar-wrapper,
  .navbar-fixed-top + .sidebar-trigger + .sidebar-trigger.sidebar-locked .sidebar-wrapper {
    top: 51px;
  }
  .navbar-fixed-bottom + .sidebar-trigger.sidebar-locked .sidebar-wrapper,
  .navbar-fixed-bottom + .sidebar-trigger + .sidebar-trigger.sidebar-locked .sidebar-wrapper {
    bottom: 51px;
  }
  .navbar-static-top + .sidebar-trigger.sidebar-locked .sidebar-wrapper .sidebar-menu,
  .navbar-static-top + .sidebar-trigger + .sidebar-trigger.sidebar-locked .sidebar-wrapper .sidebar-menu {
    margin-top: 51px;
  }
  .navbar-static-bottom + .sidebar-trigger.sidebar-locked .sidebar-wrapper .sidebar-menu,
  .navbar-static-bottom + .sidebar-trigger + .sidebar-trigger.sidebar-locked .sidebar-wrapper .sidebar-menu {
    margin-bottom: 51px;
  }
  .sidebar-force-open:not(.sidebar-right) + .container,
  .sidebar-force-open:not(.sidebar-right) + .sidebar-trigger + .container {
    padding-left: 225px;
  }
  .sidebar-force-open:not(.sidebar-right) + .container-fluid,
  .sidebar-force-open:not(.sidebar-right) + .sidebar-trigger + .container-fluid {
    margin-left: 210px;
  }
  .sidebar-force-open.sidebar-right + .container,
  .sidebar-force-open.sidebar-right + .sidebar-trigger + .container {
    padding-right: 225px;
  }
  .sidebar-force-open.sidebar-right + .container-fluid,
  .sidebar-force-open.sidebar-right + .sidebar-trigger + .container-fluid {
    margin-right: 210px;
  }
}
