/*
 * Card component
 * https://www.google.com/design/spec/components/cards.html
 */

@import "buttons";

.card {

  background: $white;

  .picture {
    width:100%;
    height: auto;
  }

  .inner {

    padding:$column-gutter;

    .title a, a.title {
      color:$grey-black;
      margin-bottom: $column-gutter;
    }

    .stars {
      margin-bottom: $column-gutter;
    }

    .subtitle, .subtitle a, a.subtitle {
      color:$grey-smoke;
    }

    p {
      margin-bottom: $column-gutter;
    }

    .actions {
      padding-top:$column-gutter;
      border-top: rem-calc(1) solid $grey-smoke;
    }
  }
}