/* Again, you’re free to use and define the classes: */
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
.size-1of4 { width: 25%; }

@media screen and (max-width: 768px){
  #salvattore-grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
}
/*@media screen and (min-width: 481px) and (max-width:819px) {
  #salvattore-grid[data-columns]::before {
    content: '2 .column.size-1of2';
  }
}*/
@media screen and (min-width: 769px) and (max-width: 23999px) {
  #salvattore-grid[data-columns]::before {
    content: '3 .column.size-1of3';
  }
}
@media screen and (min-width: 24000px){
  #salvattore-grid[data-columns]::before {
    content: '4 .column.size-1of4';
  }
}


/* HOME */                
/*@media screen and (max-width: 480px){*/
@media screen and (max-width: 467px){
  body.front .view-localites-liste-aggregated #salvattore-grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
}
@media screen and (min-width: 768px) and (max-width:1400px) {
  body.front .view-localites-liste-aggregated #salvattore-grid[data-columns]::before {
    content: '2 .column.size-1of2';
  }
}
@media screen and (min-width: 1401px) and (max-width: 23999px) {
  body.front .view-localites-liste-aggregated #salvattore-grid[data-columns]::before {
    content: '3 .column.size-1of3';
  }
}
@media screen and (min-width: 24000px){
  body.front .view-localites-liste-aggregated #salvattore-grid[data-columns]::before {
    content: '4 .column.size-1of4';
  }
}


/* left infos bien */
@media screen and (max-width: 23999px){
  #mini-panel-bien_column_left .view-localites-liste-aggregated #salvattore-grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
}



/* TERM PAGE */                
@media screen and (max-width: 1099px){
  body.page-taxonomy-term .view-biens-liste #salvattore-grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
}
@media screen and (min-width: 1100px) and (max-width:230000px) {
  body.page-taxonomy-term .view-biens-liste #salvattore-grid[data-columns]::before {
    content: '2 .column.size-1of2';
  }
}
@media screen and (min-width: 230001px) and (max-width: 23000000px) {
  body.page-taxonomy-term .view-biens-liste #salvattore-grid[data-columns]::before {
    content: '3 .column.size-1of3';
  }
}
@media screen and (min-width: 2300000000px){
  body.page-taxonomy-term .view-biens-liste #salvattore-grid[data-columns]::before {
    content: '4 .column.size-1of4';
  }
}



/* SEARCH PAGE */                
@media screen and (max-width: 1099px){
  body.page-estate-search .view-search-api-search #salvattore-grid[data-columns]::before,
  body.page-bien-immobilier-liste .view-search-api-search #salvattore-grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
}
@media screen and (min-width: 1100px) /* and (max-width:230000px) */ {
  body.page-estate-search .view-search-api-search #salvattore-grid[data-columns]::before, body.page-bien-immobilier-liste .view-search-api-search #salvattore-grid[data-columns]::before {
    content: '2 .column.size-1of2';
  }
}
/*@media screen and (min-width: 230001px) and (max-width: 23000000px) {
  body.page-estate-search .view-search-api-search #salvattore-grid[data-columns]::before, body.page-bien-immobilier-liste .view-search-api-search #salvattore-grid[data-columns]::before {
    content: '3 .column.size-1of3';
  }
}
@media screen and (min-width: 2300000000px){
  body.page-estate-search .view-search-api-search #salvattore-grid[data-columns]::before, body.page-bien-immobilier-liste .view-search-api-search #salvattore-grid[data-columns]::before {
    content: '4 .column.size-1of4';
  }
}*/




/* FAVORIS PAGE */                
@media screen and (max-width: 1099px){
  body.page-favoris-liste #salvattore-grid[data-columns]::before {
    content: '1 .column.size-1of1';
  }
}
@media screen and (min-width: 1100px) and (max-width:230000px) {
  body.page-favoris-liste #salvattore-grid[data-columns]::before {
    content: '2 .column.size-1of2';
  }
}
@media screen and (min-width: 230001px) and (max-width: 23000000px) {
  body.page-favoris-liste #salvattore-grid[data-columns]::before {
    content: '3 .column.size-1of3';
  }
}
@media screen and (min-width: 2300000000px){
  body.page-favoris-liste #salvattore-grid[data-columns]::before {
    content: '4 .column.size-1of4';
  }
}
