//
// Custom sass variables and mixins
//
// Variables
// -----------------------------------------------------------------------------
// The variables set here serve only as example of how you can use SASS variables
// to centralize and control frequently used styles more easily. Here you will
// find variables for colors, fonts and the global gutter width.
//
// Mixins
// -----------------------------------------------------------------------------
// To use a mixin in this file, add this line to the top of your .scss file:
//   @import "base"; (_base.scss imports _custom.scss).
//
// Then to use a mixin for a particular rule, add this inside the ruleset's
// curly brackets:
//   @include mix-in-name;
//

//
// Color Variables
// Colors used in the sample global.styles. You can use these to recolor many
// elements such as forms, tables, tabs etc.
//


$_font-matesc:       'Mate SC', serif;
$_font-roboto:       Roboto, Arial, Helvetica;
$gutter-frame:      .7em;
$gutter-section:    1.2em;
$gutter-row:        $gutter-frame;
$width-max-frame:   1400px;

$sub-color:         #353535;
$active-color:      #ea5d25;
$passive-color:     #ebe7db;
$passive-color-2:   #d8cfb5;
$green-1-color:     #56843c;
$text-shadow-dark:  0px 1px 0px #000000;
$text-shadow-light: 0px 1px 0px #ebe7db;

@mixin font-matesc($size) {
    font-family: $_font-matesc;
    font-weight: 400;
    font-size: $size;
}

@mixin font-roboto($size) {
    font-family: $_font-roboto;
    font-weight: 100;
    font-size: $size;
}   


@mixin site-title { text-align: center;

                    .block-inner {
                        display: inline-block;
                        text-align: center;
                        background: rgba(86,132,60,.85);
                        padding: 8px 7px;  
                        margin: auto;

                        h1 {
                            text-shadow: 0px 1px 0px #000000;
                            border: 2px solid white;
                            padding: 10px 15px;
                            color: #ffffff;

                            @include font-matesc(30px);
                            margin:0;
                        }
                    }
}

@mixin site-title-link {         
    a {
        @include font-matesc(34px);
        line-height: 1em;
        color: #ffffff;
        text-shadow: $text-shadow-dark;
        margin: 0;
        text-decoration: none;
    }
}

@mixin section-title {
    color: $sub-color;

    @include font-matesc(24px);
    text-transform: uppercase;
    text-shadow: 0px 1px 0px $passive-color;
    text-align: center;

    padding: 0 0 40px 0;
    margin: 0;
    margin-bottom: $gutter-row;

    background: url(images/title-ornement-bottom.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

@mixin action-to-active {
    &:active, &:hover, &:focus {
        color: $active-color;
    }
}

@mixin overlay-custom {
    .js body { margin: 0; padding: 0; }

    #overlay-custom {

        header#header {
            display: none;
            z-index: 1;
        }
        #overlay-custom-close {
            z-index: 99;
        }

        #main-content {
            padding: $gutter-row*3 $gutter-row*5;

            #main-content-header { 
                max-width: 725px; 
                h1 {
                    @include font-matesc(32px);
                    color: $sub-color;
                    margin: 0; padding: 0;
                }
            }
        }

        .overlay-inner {
            margin: $gutter-frame*4 auto;
            max-width: 960px;
            width: 80%;
            padding: 0;
            background: rgba(255,255,255, 0.95);
            position: relative;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
        }

        .overlay-close {
            font-size: 50px;
            color: $sub-color;
            position: absolute;
            right: 0px;
            margin: 0;
            line-height: 1px;
            padding: .15em .35em;

            @include action-to-active;
        }
    }
}


@mixin radius-small {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

@mixin link-format {
    a {
        padding: 12px 10px;
        background-color: $passive-color;
        color: $sub-color;

        @include font-matesc(14px);

        border-bottom:2px solid $sub-color;

        &:active, &:focus, &:hover {
            color: $active-color;
            border-color: $active-color;
        }

        i {
            margin-right: $gutter-row;
        }
    }
}

@mixin link-default {
    color: white;
    text-shadow: 0px 1px 0px $sub-color;
    @include font-matesc(24px);
    padding: $gutter-row/2 0;
    padding-left: $gutter-row;
    float: left;
    width: 100%;

    i {
        min-width: $gutter-row*2.8;
    }

    &:active, &:focus, &:hover {
        background: rgba(28, 64, 7, .5);
        color: $passive-color;
    }
}

@mixin section-2 {

    .block-inner {
        margin: auto;
        position: relative;
        max-width: $width-max-frame;
        height: 100%;

        .section-title h2 {
            @include section-title;
        }

        .region {
            .region-inner {
                text-align: center;
            }
            &.region-three-33-first, &.region-three-33-third {
                & .region-inner { background: $passive-color; }
            }

            &.region-three-33-top .block-inner {
                padding-top: 45px;
                background: url(images/title-ornement-top.png);
                background-repeat: no-repeat;
                background-position: center 3px;

                p {
                    color: $sub-color;
                    font-family: Roboto, Arial;
                    font-size: 14px;
                    font-weight: 500;
                    max-width: 1200px;
                    margin: 2em auto;
                    width: 100%;
                }
            }

            &.region-three-33-first { }
            &.region-three-33-second {
                .field-name-field-image {
                    overflow: hidden;
                    max-height: 290px;

                    img {
                        width: 100%;
                        min-width: 380px;
                    }
                }
            }
            &.region-three-33-third { }

            &.region-three-33-bottom {

                ul.menu {
                    text-align: right;
                    margin: 0;
                }
            }

            #agence-1 {
                background: url(images/agence-shadow-left.png);
                background-repeat: no-repeat;
                background-position: right;
            }

            #agence-2 {
                background:url(images/agence-shadow-right.png);
                background-repeat: no-repeat;
                background-position: left;
            }

            #agence-1, #agence-2 {
                margin-top: $gutter-row;

                h4 {
                    background: url(images/agence-separateur.png);
                    background-repeat: no-repeat;
                    background-position: center bottom;

                    text-transform: uppercase;
                    color: $sub-color;

                    @include font-matesc(16px);
                    margin: 0 0px 1em 0;
                    padding-bottom: 1.3em;
                    padding-top: $gutter-row*2;
                }

                h3 {
                    font-weight: bold;
                    @include font-matesc(26px);
                    margin: 0;
                    margin-bottom: 1em;
                }

                p {
                    @include font-matesc(16px);
                }

                strong {
                    font-weight: bold;
                    font-size: 26px; 
                }
            }
        }
    }
}


@mixin contact-vertical-els {

    @include font-roboto(14px);
    .region-two-33-66-top {
        h2 {
            margin: 0; padding: 0;
            @include font-matesc(24px);
            margin-bottom: $gutter-row;
        }
        p {
            margin: 0; padding: 0;
        }
        margin-bottom: $gutter-row*2;
    }

    .contact-vertical-image {
        .field-name-field-image {
            max-height: 312px;
            overflow: hidden;
        }
    }

    .contact-vertical-agence {
        margin-top: $gutter-row;
        text-align: center;
        margin-top:0;

        .block-inner { background: $passive-color; }
        .fieldable-panels-pane { 
            &.agence-1, &.agence-2 {
                padding: $gutter-row; 
            }
            &.agence-2 { padding-bottom: 0; }
        }

        &.agence-2 {
            h3 {
                background: url(images/agence-separateur.png);
                background-repeat: no-repeat;
                background-position: center top;
                margin: 0;
                padding-top: 1.3em;
            }

            background: url(images/shadow-horizontal-contact.png);
            background-position: bottom;
            background-repeat: no-repeat;
            padding-bottom: 9px; 
        }

        h4 {
            display: none;
        }

        h3 {
            font-weight: bold;
            @include font-matesc(20px);
            margin: 0;
            padding-bottom: $gutter-row/2;
            padding-top: $gutter-row;
        }

        p {
            @include font-matesc(16px);
            margin: $gutter-row 0;
        }

        strong {
            @include font-matesc(26px);
            font-weight: bold;
        }
    }
}


$page:         #fff;    // to match the page background, default is white
$border:       #ccc;    // all borders set in global.styles - tables, fieldset, primary links
$highlight:    #c00;    // required mark, form error highlight, "new" label on comments
$ultralight:   #f5f5f5; // table row even, primary link inactive tabs
$light:        #eee;    // table row odd active, primary link inactive hover
$medium_light: #ebebeb; // table row even active
$medium_dark:  #e5e5e5; // table thead
$debug:        rgba(255, 192, 203, 0.5); // Full width wrapper test

$thead:          $medium_dark;
$tr_odd:         $page;
$tr_even:        $ultralight;
$tr_odd_active:  $light;
$tr_even_active: $medium_light;

$primary_task:        $ultralight;
$primary_task_hover:  $light;
$primary_task_active: $page;


//
// Font Variables
// These font stacks are an exact copy of the stacks found in AT Cores
// theme settings for web safe fonts.
//

$sans-serif-small:            'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$sans-serif-large:            Verdana, Geneva, 'DejaVu Sans', Arial, Helvetica, sans-serif;
$sans-serif-arial-helvetica:  Arial, Helvetica, sans-serif;
$calibri-candara:             Calibri, Candara, Arial, Helvetica, sans-serif;
$serif-small:                 Garamond, Perpetua, 'Times New Roman', serif;
$serif-large:                 Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
$modern-myriad:               'Segoe UI', 'Myriad Pro', Myriad, Arial, Helvetica, sans-serif;
$lucida:                      'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Grande', Verdana, Geneva, sans-serif;
$impact:                      Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', sans-serif;
$mono:                        Consolas, Monaco, 'Courier New', Courier, monospace, sans-serif;


//
// Gutters
//
// Set a variable for the gutters. Adaptivetheme allows you to easly modify the
// global gutter width for precise control over the design. Panel pages need
// special gutter wrangling when a Panel is inside #content wrapper, so to ease
// setting this we use a variable.
//
$gutter-width: 10px;


//
// Markup free clearing
// http://www.stubbornella.org/content/2012/05/02/cross-browser-debugging-css/
//

@mixin cf {
    overflow: hidden;   // New formatting context in better browsers
    *overflow: visible; // Protect IE7 and older from the overflow property
    *zoom: 1;           // Give IE hasLayout, a new formatting context equivalent
}


//
// Image replacement
// Kellum Method: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement
// Additional helpers from http://html5boilerplate.com/docs/css/
// This is also included as a SASS mixin, see: sass/custom.rb
//

@mixin ir {
    // Kellum Method
    display: block !important;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    // Additional helpers
    border: 0;                     // Remove the default border from elements like <button>
    font: 0/0 a;                   // Crush the text down to take up no space
    text-shadow: none;             // Remove any text shadows
    color: transparent;            // Hide any residual text in Safari 4 and any mobile devices that may need it
    background-color: transparent; // Hide the default background color on elements like <button>
}


//
// element-invisible improved and more robust
//
@mixin element-invisible {
    border: 0;
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
        clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax
    }
    clip: rect(1px, 1px, 1px, 1px);
}


//
// Turns off the element-invisible effect
//
@mixin element-invisible-off {
    position: static !important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
}

@mixin element-focusable {
    @include element-invisible;

    &:active,
        &:focus {
        @include element-invisible-off;
    }
}


//
// Shift content offscreen, can be usefull when you reall need to do this
//
@mixin offscreen {
    position: absolute;
    top: -99999em;
    width: 1px;
    height: 1px;
    overflow: hidden;
    outline: 0;
}


//
// Hide content from all users
//
@mixin element-hidden {
    display: none;
}


//
// The word "Unpublished" displayed underneath unpublished nodes and comments
//
@mixin unpublished {
    color: pink; // target browsers that do not support rgba
    color: rgba(239, 170, 170, 0.4);
    font-family: $impact;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;

    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
        .ie6-7 &>* {
            position: relative; // Otherwise these elements will appear below the "Unpublished" text.
        }
    }
}
