// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";

$gutter-row-maxi:   $gutter-row*5;

@include overlay-custom;

#overlay-custom .overlay-inner {
    padding: $gutter-row*2;
}

#mini-panel-bien_row_print, #panel-bien_row_description {

    ul, li {
        list-style: none;
        margin: 0; padding: 0;
    }

    ul li {
        &.info-title { font-weight: bold; font-size: 18px; padding: 0 0 $gutter-row/2 0; }
        padding: $gutter-row/3 0;

        i {
            min-width: $gutter-row*2;
        }
    }

    .region-two-33-66-top {
        width: 100%;
        @include font-matesc(32px);
        text-align: center;
        
        .region-inner {
            padding: $gutter-row*3 $gutter-row-maxi $gutter-row $gutter-row-maxi;
        }
        
        .pane-panels-mini.pane-entete-de-page {
            .region-inner {
                padding: 0;
            }
            
            #site-title {
                @include site-title;
                @include site-title-link;
            }
        }
    }

    .region-two-33-66-first {
        width: 50%;
        float: left;
        @include font-roboto(16px);
        .region-inner {
            padding: $gutter-row/2 $gutter-row-maxi;
            padding-right: $gutter-row/2;
        }
    }

    .region-two-33-66-second {
        width: 50%;
        float: left;
        @include font-roboto(16px);
        .region-inner {
            padding: $gutter-row/2 $gutter-row-maxi;
            padding-left: $gutter-row/2;
        }
    }

    .region-two-33-66-bottom {
        width: 100%;
        @include font-roboto(16px);
        
        img {
            width: 100%;
            height: auto;
        }
        figure {
            margin: 0;
            float: left;
            width: 49%;
            line-height: 0;
            margin-bottom: $gutter-row;
            
            &.clearfix {
                clear: none;
            }
            
            &.even {
                margin-right: .75%;
            }
            
            &.odd {
                margin-left: .75%;
            }
        }
        
        .region-inner {
            padding: $gutter-row-maxi;
        }
    }
    
    section {
        padding-bottom: $gutter-row*2;
    }
    
    h2 {
        font-size: 18px;
        margin: 0;
        padding: $gutter-row/2 0;
    }
    
    p {
        margin: 0;
        padding: 0;
    }
    
    #language-switcher { display: none; }
    
    
    .section-title h2 { @include section-title; margin-top: $gutter-section;}
    
    #mini-panel-contact_agence_horizont_short {
        .region-inner, .block-inner {
            padding: 0;
        }
        
        .region {  
            
            &.region-three-33-top .block-inner {
                padding-top: 45px;
                background: url(images/title-ornement-top.png);
                background-repeat: no-repeat;
                background-position: center 3px;

                p {
                    color: $sub-color;
                    font-family: Roboto, Arial;
                    font-size: 14px;
                    font-weight: 500;
                    max-width: 1200px;
                    margin: 2em auto;
                    width: 100%;
                }
            }
        
            &.region-two-50-first, &.region-two-50-second {
                margin-top: $gutter-row;
                float: left; 
                width: 50%;
                text-align: center;
                
                .block-content { background: $passive-color; }
                .fieldable-panels-pane { padding: $gutter-row; }

                h4 {
                    background: url(images/agence-separateur.png);
                    background-repeat: no-repeat;
                    background-position: center bottom;

                    text-transform: uppercase;
                    color: $sub-color;

                    @include font-matesc(16px);
                    margin: 0 0px 1em 0;
                    padding-bottom: 1.3em;
                    padding-top: $gutter-row;
                }

                h3 {
                    font-weight: bold;
                    @include font-matesc(20px);
                    margin: 0;
                    margin-bottom: 1.5em;
                }

                p {
                    @include font-matesc(16px);
                }

                strong {
                    font-weight: bold;
                    font-size: 18px;
                }
            }

            &.region-two-50-first {
                .block-inner {
                    padding-right: $gutter-row/2;
                }
            }
            &.region-two-50-second  {
                .block-inner { 
                    padding-left: $gutter-row/2; 
                }
            }
            
        }
    }
    
    .site-url { margin-top: $gutter-row*2; }
}




#panel-bien_row_description {
    padding-top: $gutter-row!important;
    
    .region-two-33-66-first .region-inner, .region-two-33-66-second .region-inner, .region-two-33-66-bottom .region-inner {
        padding: 0;
        .block-inner {
            .panel-display {
                .region-inner {
                    padding: 0;
                }
            }
        }
    }
    
    .pane-taxonomy-term-field-image {
        background: white;
        
        .field-name-field-image {
            padding: $gutter-row;
        }
    }
    
    .region-two-33-66-bottom .pane-node-body {
        padding: $gutter-row*2 0;
    }
    
    @include link-format;
}


body.page-overlayed-contact {
    .overlay-inner {
        max-width: 1100px!important;
    }
        
    @include contact-vertical-els;
}

.clearfix {
    clear: both;
}

#mini-panel-bien_row_print .region-two-33-66-first .infos-print .region-inner {
    padding-left: 0;
    padding-top: 0;
}



// bad hack

#overlay-custom #mini-panel-bien_row_print .region-two-33-66-top .region-inner,
#overlay-custom #mini-panel-bien_row_print .region-two-33-66-first .region-inner,
#mini-panel-bien_row_print .region-two-33-66-bottom .region-inner {
    padding-left: 0!important;
}

#overlay-custom #mini-panel-bien_row_print .region-two-33-66-top .region-inner,
#overlay-custom #mini-panel-bien_row_print .region-two-33-66-second .region-inner,
#mini-panel-bien_row_print .region-two-33-66-bottom .region-inner {
    padding-right: 0!important; 
}