// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";

body {
    background: white;
    @include font-roboto(18px);
    line-height: $gutter-row*2;
    
    h3 {
        @include font-matesc(24px);
    }
    
    strong {
        font-weight: bold;
    }
        
}