
// _base.scss imports _custom.scss (variables and mixins) and other partials.
@import "base";

/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empt.view-search-api-search h4 ay selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * To FORCE PRINT all selectors you can search and replace a single { (opening
 * curly brace) and insert an empty comment. This is very useful in conjuction
 * with FireSass: https://addons.mozilla.org/en-US/firefox/addon/firesass-for-firebug/
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 */

/* color set 
green 1 = 56843c rgb(86,132,60);
green 2 = 1c4007 rgb(28, 64, 7)

*/

a, h1, h2, h3, h4, p, img, li, input {
    z-index: 57;
    position: relative;
}
img.image-style-bien-wide, img.image-style-large, img.image-style-bien-teaser, .views-field-field-photos a, .image-style-localite-term-page, #page-title {
    z-index: 1;
}
.view-search-api-search .views-row {
    h4.bien-short-description {
        z-index: 59;
    }
    .views-field-field-photos a {
        z-index: 58;
    }
}

a {
    text-decoration: none;
}

figure {
    line-height: 0;
}

#main-content, .block-inner, .pane-inner, .menu-wrapper, .branding-elements, .breadcrumb-wrapper, .attribution, .at-panel .rounded-corner, .block-panels-mini > .block-title, .rendered-by-ds .panel-display .region-inner, div.messages, .at-gutter, #content .panel-display, #content .panel-flexible {
    margin: 0; padding: 0;
}

.lazyloader-icon { width: auto!important; height: auto!important }



// navigation */
@media (max-width:1430px) {
    body.front #section-1, #section-2, #section-3,
    body.not-front #mini-panel-entete_de_page,
    body.not-front #content .pane-service-links-service-links .block-inner,
    body.not-front #mini-panel-bien_row,
    #mini-panel-estate_search_row,
    .admin-actions .block-inner,
    body.page-estate #main-content-header,
    body.agencies-page #block-system-main,
    body.page-contact.page-panels #block-system-main,
    body.auvergne-page #block-system-main,
    body.terrains-liste #block-system-main,
    #main-content-header
    {
        padding-left: $gutter-frame!important;
        padding-right: $gutter-frame!important;
    }

    body.node-type-pages.services-page #columns .region.region-three-33-first .panel-pane,
    body.page-taxonomy-term #block-system-main {
        padding-left: $gutter-frame!important;
    }

    body.node-type-pages.services-page #columns .region.region-three-33-third .panel-pane {
        padding-right: $gutter-frame!important;
    }

    body.page-bien-immobilier-liste #mini-panel-estate_search_row,
    body.page-estate-search #mini-panel-estate_search_row  {
        padding-left: $gutter-frame/2!important; 
    }
}

@media (max-width: 1500px) {
    body.not-front #mini-panel-entete_de_page #site-title {
        padding-left: 60px;
    }
}



// sidebar
a.sidebar-toggle {
    background: rgba(86, 132, 60, .85);
    &.sidebar-toggle-opened {
        background: rgba(28, 64, 7, .5);
    }
}

.sidebar-wrapper.sidebar-default {
    background-color: rgba(86, 132, 60, 0.95);
}
.sidebar-wrapper a {
    i {
        color: #335C1B;
        text-shadow: 0px 1px 0px #1C4007;
    }

    &:hover, &:active, &:focus {
        i { 
            color: $passive-color; 
            text-shadow: 0px 1px 0px $sub-color;
        }
    }
}

#block-system-main-menu {
    ul.menu {
        margin: 0; padding: 0;
        padding-top: 72px;

        li {
            margin: 0; 
            padding: 0;
            list-style: none;

            a {
                @include link-default;
            }

        }
    }
}
.pane-system-main-menu {
    ul > li a i {
        margin-right: $gutter-row;
    }
}

#close-side-bar {
    display: block;
    position: absolute;
    z-index: 1200;
    width: 60px;
    overflow: hidden;
    height: 57px;
    text-align: center;
    padding-top: 4px;
    background: rgba(0, 0, 0, .3);
    top: 0;

    a {
        color: white;
        font-size: 3em;
        line-height: 1em;

        span {
            visibility: hidden;
        }
    }
}

.overlay-modal-background {
    background: rgba(0,0,0,.5);
}



.contact-link {
    margin-top: $gutter-row*3;
    min-height: 40px;
    @include link-format;
}




// BUG LI MENU ???? !!!!!!
body.front #section-2 .block-inner .region.region-three-33-bottom ul.menu,
body.services-page #section-2 .block-inner .region.region-three-33-bottom ul.menu {

    height: 60px;
    padding-top: 0;

    li {
        display: inline-block!important;
        margin: $gutter-row 0 0 $gutter-row;
        padding: 0;

        @include link-format;
    }
}

.pane-entity-field.pane-node-field-dependances-ref.inline {
    padding-top: $gutter-row*2;
}
.inline {
    li {
        display: inline-block;
        line-height: $gutter-row*2;
        margin-right: $gutter-row!important;
    }

    h2 {
        margin: 0!important;
        margin-top: $gutter-row;
        @include font-roboto(14px);
        line-height: $gutter-row*2;
        font-size: 14px!important;
    }

    section {
        margin:0!important;
        padding: 0!important;
    }


    .field-name-field-dependances-ref section {
        padding-top: $gutter-row*2!important;
    }
}




/*
 * LISTES
 */
.view-biens-liste, .view-coup-de-coeur, .view-search-api-search {

    .views-row {
        position: relative;
        width: 98%;

        &.views-row-2 {
            margin: 0 auto;
        }
        &.views-row-3 {
            margin-left: 2%;
        }

        .compromis {
            position: absolute;
            z-index: 59;
            background: rgba(86, 132, 60, 0.8);
            color: white;
            padding: 3px 8px 3px 15px;
            margin: 5px auto;
            @include font-roboto(1em);
            line-height: 1.2em;
        }
    }
    .field-content {
        line-height: 0;
    }
    .views-field-field-photos {
        line-height: 0;
        z-index: 9;

        img {
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;
            border: 7px solid rgba(255, 255, 255, 0.45);
        }
    }

    h3, h4 {
        display: block;
        position: absolute;
        z-index: 10;
        margin: 0;
    }

    h3 a, h4 a {
        color: $sub-color;
        @include font-matesc(14px);
    }


    h3.bien-title { 
        margin: 20px 15px;
        position: absolute;
        top: 0;

        a {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 12px 15px;
        }
    }

    h4 { 
        bottom: 22px; 
        width: 100%;
        margin-bottom: 6px;

        .inner-description {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 12px 20px 12px 10px;
            margin: 0 7px;

            &.mode-2 {
                padding: $gutter-row/3;
            }

            strong {
                float: right;
            }
        }
    }
}

.view-coup-de-coeur {
    .inner-description {
        padding: 12px 15px;
    }
    h4 {
        /*top: $gutter-row*2;*/
        left: $gutter-row;
        width: auto;
    }
    .views-field-field-photos {
        line-height: 0;
        z-index: 9;
        border: 7px solid rgba(255, 255, 255, 0.45);
        max-height: 280px;
        overflow: hidden;

        img {
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;
            border: none;
        }
    }
}

.view-biens-liste {

    .views-row {
        position: relative;
        width: 100%;

        .views-field-field-photos img {
            border-top: none;
        }

        h4 .inner-description {
            margin: 0;
        }

        &.views-row-odd {
            margin: 0 auto;
        }
        &.views-row-even {
            margin-left: 0;
        }
    }
}

.view-search-api-search {
    .views-row {
        width: auto;
        margin: 0;
        padding: $gutter-row/2;

        .views-field-field-photos {
            a { line-height: 0; }
            img.image-style-bien-teaser {
                border: none;
                width: 100%;
            }
        }

        &.views-row-odd {
            margin: 0;
        }
        &.views-row-even {
            margin: 0;
        }

        .inner-description {
            margin: 0;
        }
    }
}



/*
 * MANGUE SELECTOR
 */
.pane-locale-language-content {
    position: absolute;
    right: $gutter-row;
    text-align: right;
    top: 12px;
    width: 150px;

    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;

            &.active {
                display: none;
            }

            img {
                height: auto;
                width: 3.5em;
            }

            a {
                padding: 5px;
                color: $sub-color;
                @include font-roboto(12px);
            }
        }
    }
}
#block-locale-language-content {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {

            &.active {
                display: none;
            }
            img {
                display: none;
                width: 1.9em;
                height: auto;
            }

            a {
                position: absolute;
                z-index: 9;
                left: 60px;
                top: 5px;

                padding: 5px;
                color: white;
                text-shadow: 0px 1px 0px #353535;
                padding-left: 0.7em;
                float: left;
                width: 100%;
                @include font-matesc(24px);
            }
        }
    }
}
body { 
    #block-locale-language-content {
        ul li img {
            display: block;
            width: 1.9em;
            height: auto;
        }
    }

    &.page-contact, &.page-node-25, &.page-node-26, &.page-node-30, &.page-node-29, &.page-node-40, &.page-node-41, &.page-estate-search, &.page-bien-immobilier-liste, &.node-type-bien-immobilier {

        #block-system-main-menu {
            margin-top: 72px;
        }
    }
}
.language-link.locale-untranslated { display: none; }


// DESKTOP

body.front {

    #main-content {
        width: 100%;
        margin: 0;
    }

    #content {
        .one-column, .panel-display {
            width: 100%;
            margin: 0;
        }
    }

    #section-1 {

        /*background: url(images/home-photo-2_02.jpg);*/
        background-position: top;
        background-size: cover;
        min-height: 670px;

        // Language
        .form-item-lang-dropdown-select {
            text-align: right;

            #lang-dropdown-select-language_content_msdd {
                text-align: left;
            }
        }


        .block-inner {
            margin: auto;
            position: relative;
            max-width: $width-max-frame;
            height: 100%;

            section.pane-coup-de-coeur-shortlist {
                position: absolute;
                bottom: 60px;
            }

            .more-link {
                position: absolute;
                height: 60px;
                bottom: 0px;
                text-align: right;
                width: 100%;

                .block-content {
                    margin-top: 13px;
                    height: 50px;

                    a {
                        color: $sub-color;
                        @include font-matesc(14px);
                        font-size: 14px;
                        font-weight: 400;
                        padding: 10px;
                        background-color: $passive-color; 

                        border-bottom: 2px solid $sub-color;

                        &:hover, &:active, &:focus {
                            color: $active-color;
                            border-color: $active-color;
                        }

                        i {
                            margin-right: $gutter-row;
                        }
                    }
                }
            }
        }

        #site-title {
            @include site-title;
            top: 90px;
            position: relative; 
        }


        h2.block-title {
            display: none;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.85);
            padding: 10px $gutter-row/2;
            color: $sub-color;

            @include font-matesc(24px);
            text-shadow: 0px 1px 0px $passive-color;
        }



        .more-link a {
            color: $sub-color;

            @include font-matesc(14px);
            line-height: 30px;
            background-color: $passive-color;
            padding:10px 10px;
            text-align: center;
            text-shadow: 0px 1px 0px #ffffff;
            margin: 0;        
            border-bottom:2px solid $sub-color;

            /*&:hover {
                color: #ea5d25;
                box-shadow: 1px 2px 0px 0.00px #ea5d25;
            }*/
        }

    }


    #section-2 {
        background: $passive-color-2;
        padding-top: $gutter-section;

        @include section-2;
    }


    /* section 3 */
    #section-3 {
        background: white;
        padding-top: $gutter-section;
        padding-bottom: $gutter-section;

        .region-two-66-33-top {
            h2 {
                background: url(images/title-ornement.png);
                background-repeat: no-repeat;
                background-position: center bottom;
            }
        }

        .block-inner {
            max-width: $width-max-frame;
            margin: 0 auto;

            h2 {
                color: $sub-color;

                @include font-matesc(24px);
                text-align: center;
                text-shadow: 0px 1px 0px $passive-color;
                padding-bottom: $gutter-section;
                text-transform: uppercase;

                margin-top: 0;
            }
        }
    }

}

body.front .view-localites-liste-aggregated .views-row {
    margin-right: $gutter-row;
    margin-bottom: $gutter-row;
}

.view-localites-liste-aggregated {

    .localite-picture { line-height: 0; }

    .views-row {
        background: $passive-color;
        &:hover, &:active, &:focus {
            background-color: $passive-color-2;
        }
        max-height: 128px;
        overflow: hidden;

        .views-field {
            float: left;
            width: 50%;
        }

        .localite-infos {
            margin: 0;
            padding: 10px;
            line-height: 1.3em;

            a { 
                @include font-matesc(18px);
                color: $sub-color;
            }

            .autre-bien {
                line-height: 2em;
                color: #000000;
                font-family: Roboto, Arial;
                font-size: 12px;
                font-weight: 100;
            }
        }

        .localite-picture {
            img {
                //width: 100%; 
            }
        }
    }
}



.pane-estate-search-row { padding-bottom: $gutter-row; }

/* footer */
#footer {
    background: url('images/pattern-footer.png');
    background-repeat: repeat;
    padding: 0 $gutter-frame;
    z-index: 99;
    position: relative;
    //margin-top: $gutter-row;

    .region-inner {

        max-width: $width-max-frame;
        margin: 0 auto;
        padding: 0;

        #mini-panel-pied_de_page {
            padding: $gutter-section 0 0 0;
            background: url('images/footer-shadow.png') top center no-repeat;

            .block-inner {
                padding: 0; margin: 0; 
            }

            .logos {
                padding-top: $gutter-row;
            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    padding: 0;
                    margin: 0;
                    list-style: none;

                    a {
                        color: #f5e990;
                        @include font-matesc(18px);
                        line-height: 36px;
                        text-decoration: none;
                        padding: 12px 20px 12px 0;

                        &:hover {
                            color: #eedf6a;
                        }
                    }
                }
            }

            .block-infos {
                background-color: rgba(28, 64, 7, 0.2);
                padding-bottom: 10px;

                .block-inner { 
                    padding: 2px 15px 0 10px;

                    h2 {
                        color: $passive-color;
                        @include font-matesc(24px);
                        font-weight: 400;
                        margin: 0 0 0 0;
                    }

                    h5 {
                        @include font-roboto(14px);
                        color: $passive-color;
                        margin: 15px 0 0 0;

                        strong {
                            text-transform: uppercase;
                        }
                    }


                }
            }

            .logos {
                p {
                    margin-bottom: 0;
                }
            }

            .base-line {
                color:#f5e990;
                @include font-roboto(12px);
                padding-bottom: 5px;
                border-bottom: 4px solid rgba(238, 223, 106, 0.5);

                .block-inner {
                    padding: 0;
                    margin: 0;

                    .block-content {
                        padding-top: 2em;
                    }
                }

                p {
                    padding: 0;
                    margin: 0;
                }
            }

            .lstmedia p {
                text-align: right;
                color:white;
                @include font-roboto(10px);
                text-transform: uppercase;
                padding-top: $gutter-row;
                padding-bottom: $gutter-frame;
                margin: 0;
            }
        }

    }
}






body.not-front {

    #header {
        height: 60px;
        position: relative;
        z-index: 501;
    } 

    #block-panels-mini-entete-de-page {
        background-color: rgba(86, 132, 60, 0.85);
        position: fixed;
        z-index: 99;
        width: 100%;

        .block-inner {
            margin: 0; padding: 0;
        }

        .region-inner {
            margin: 0 auto; padding: 12px 0;
            max-width: $width-max-frame;

            #site-title {
                float: left;

                h1 {
                    margin: 0;
                    padding: 0;
                    line-height: 38px;

                    @include site-title-link;
                }
            }

            #language-switcher {
                float: right;

            }
            .form-item.form-type-select.form-item-lang-dropdown-select {
                margin: 0!important;
            }
        }
    }


    #columns {
        padding: 0;
        padding-top: 2px;

        #content-column {
            #main-content {

                /* admin */
                ul.tabs.primary {
                    padding: 0; margin: 0;
                    border: none;
                    margin-bottom: $gutter-row;
                    z-index: 98;
                    position: relative;
                    text-align: right;

                    li {
                        display: inline;

                        a {
                            padding: 5px 10px;
                            background: $passive-color;
                            @include font-roboto(14px);
                            border: none;
                            margin: 0;

                            &:hover,&:active,&:focus {
                                background: $passive-color-2;
                            }
                        } 
                    }
                }

                section.pane-service-links-service-links {
                    background: rgba(255,255,255, .8); 
                    z-index: 59;
                    position: fixed;
                    width: 100%;

                    small {
                        color: $green-1-color;
                    }

                    .block-inner {
                        margin: 0; padding: 0;
                        margin: 0 auto;
                        max-width: $width-max-frame;

                        h2.block-title {
                            margin: 0; padding: 0;
                            padding-top: $gutter-row;
                            @include font-matesc(26px);
                            color: $sub-color;
                            text-shadow: $text-shadow-light;
                            float: left;
                        }
                        .block-content .service-links {
                            float: right;

                            ul { margin: 0; }

                            ul li {
                                width: 50px;
                                height: 50px;
                                display: inline-block;
                                overflow: hidden;
                                margin: $gutter-row 0 0 $gutter-row;
                            }
                            a {
                                img { visibility: hidden; display: none;}
                                background-color: $passive-color;
                                text-align: center;
                                font-size: 28px;
                                padding: 12px;
                                line-height: 1px;
                                color: $sub-color;
                                display: block;

                                @include action-to-active
                            }
                        }

                        .mini-panel-bien_description_link {
                            margin: 0; padding: 0;
                        }
                    }
                }

                .panel-pane.pane-bien-row {
                    margin: 0; padding: 0;
                    // padding-bottom: $gutter-row;

                    .block-inner {
                        margin: 0 auto;
                        max-width: $width-max-frame;

                        .field-name-field-photos img.image-style-bien-wide {
                            width: 100%;
                        }
                    }

                    // infos
                    .region.region-two-33-66-first {

                        .pane-bien-column-left { padding-top: 72px; padding-right: $gutter-row; }

                        .pane-bien-infos-direct,
                        .pane-localites-liste-aggregated-panel-pane-1
                        /*.pane-bien-description-link,
                        .pane-bien-autres-a-proximite,
                        .pane-bien-link-flag-favoris,
                        .pane-bien-contact-link*/
                        { margin: 0 0 $gutter-row; }

                        .pane-bien-description-link,
                        .pane-bien-autres-a-proximite,
                        .pane-bien-link-flag-favoris,
                        .favoris-link,
                        .pane-bien-contact-link {
                            overflow: hidden;
                            a {
                                float: left;
                                width: 100%;
                                background: $passive-color;
                                padding: $gutter-row;
                                @include font-matesc(18px);
                                color: $sub-color;

                                &:hover, &:active, &:focus {
                                    background: $passive-color-2;
                                }
                                &:active {
                                    color: $active-color;
                                }

                                i {
                                    margin-right: $gutter-row;
                                }
                            }
                        }
                        .pane-bien-contact-link a {
                            margin-bottom: $gutter-row;
                        }

                        span.flag-throbber { position: absolute; right: 0; }

                        #mini-panel-bien_infos_direct {
                            @include font-roboto(18px);
                            color: $sub-color;

                            ul {
                                padding: 0; margin: 0;
                                list-style: none;

                                li {
                                    padding: 0; margin: 0;
                                    list-style: none;
                                    padding: $gutter-row/4 0;
                                    padding-left: $gutter-row;

                                    &.info-title {
                                        font-weight: bold;
                                        padding: $gutter-row/2;
                                    }

                                    i {
                                        margin-right: $gutter-row;
                                    }
                                }
                            }
                        }
                    }

                    // photo
                    .region.region-two-33-66-second {
                        padding-top: 72px;
                        float: right;

                        .field-name-field-photos figure {
                            margin-bottom: $gutter-row;
                            &:last-child {
                                // margin-bottom: 0;
                            }
                        }
                    }
                    #mini-panel-bien_column_left {
                    }
                }
            }
        }
    }
}

.view-localites-liste-aggregated img.image-style-localite-teaser {
    width: 100%;
}



/*
 *
 * Print mail page
 */
body.page-printmail.overlay {

    #main-content {
        padding: $gutter-row*3 $gutter-row*5;

        #main-content-header { 
            max-width: 725px; 
            h1 {
                @include font-matesc(32px);
                color: $sub-color;
                margin: 0; padding: 0;
            }
        }

        textarea, input {
            @include radius-small;
            border: 1px solid #C4A95A;
            background-color: #ebe7db;
            padding-left: $gutter-row;

        }

        textarea#edit-txt-to-addrs, textarea#edit-txt-message {
            width: 100%;
            height: 2.8em;
            padding-top: $gutter-row;
            padding-bottom: $gutter-row;
        }
        textarea#edit-txt-message {
            height: 150px;
        }

        input {
            line-height: 2.5em;

            &.form-text {
                width: 98%;
            }
            color: $sub-color;

            &[type="submit"] {
                color: #f5e990;
                @include font-matesc(24px);
                text-align: center;
                background: #56843c;
                border-color: #3E6E23;
                line-height: 1.5em;
                padding: $gutter-row/2 $gutter-row;

                &#edit-btn-cancel {
                    background: none;
                    color: #B83A1D;
                    border: none;
                    @include font-roboto(14px);
                    text-decoration: underline;
                }
            }
        }

        .form-item {
            margin: $gutter-row 0;
        }

        .form-type-textarea {
            .description {
                @include font-roboto(12px);
                color: $sub-color;
            }
        }

        .printmail-label, input[type="text"], textarea {
            @include font-matesc(16px);
            color: #707070;
        }
    }
}




/*
 *
 * user
 */
body.page-user {
    #columns {
        #content-column {
            #main-content {
                margin: 0 auto;
                max-width: $width-max-frame;
            }
        }
    }
}





/*
 *
 * Term page
 */
body.page-taxonomy-term {
    #main-content {
        max-width: $width-max-frame;
        margin: 0 auto;
    }
}






/*
 * 
 * search page
 */
body.page-estate-search, body.page-bien-immobilier-liste {

    #page-title {
        margin-left: 0;
        padding-left: 0
    }

    #main-content {
        max-width: $width-max-frame;
        margin: 0 auto;
        position: relative;

        .admin-actions {

            .block-inner {
                padding: 0;
            }
            p {
                margin: 0;
            }
            a {
                padding: $gutter-row;
                background: $passive-color;
                @include font-roboto(16px);
                color: $sub-color;

                &:hover {
                    background: $passive-color-2;
                    color: $active-color;
                }
            }
        }

        #mini-panel-estate_search_row {
            .region.region-two-66-33-first { /*width: 72%;*/ padding-bottom: $gutter-row; }
            .region.region-two-66-33-second { /*width: 28%;*/ padding-bottom: $gutter-row; }

            form {
                margin-top: 5px;
            }
        }

        #page-title {
            @include font-matesc(26px);
            text-shadow: $text-shadow-light;
        }

        #edit-folder-wrapper { width: 70%; }
        .views-exposed-widget.views-submit-button { width: 30%; }

        .views-exposed-form .views-exposed-widget {
            padding: 0;
        }


        input {
            margin-top: 0;
            @include radius-small;
            border: 1px solid #C4A95A;
            background-color: #ebe7db;
            /*padding-left: $gutter-row;*/
            line-height: 2.5em;
            /*max-width: 450px;*/

            &#edit-folder {
                float: left;
            }

            &.form-text {
                width: 100%;
            }
            color: $sub-color;

            &[type="submit"] {
                color: #f5e990;
                @include font-matesc(24px);
                text-align: center;
                background: #56843c;
                border-color: #3E6E23;
                line-height: 1.05em;
                padding: $gutter-row/2 0;
                width: 100%;
            }
        }

        #views-exposed-form-search-api-search-panel-pane-1,
        #mini-panel-bien_search_column_filter {
            padding-left: 6px;
        }

        #mini-panel-bien_search_column_filter {
            ul {

                list-style: none;
                margin: 0;
                margin-top: $gutter-row;

                li {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    clear: left;

                    &.facetapi-active-wrapper {
                        padding-left: 0!important;
                        padding-right: 0!important;

                        a {
                            margin-left: $gutter-row;
                            width: 30px;
                            height: 35px;
                            overflow: hidden;
                            color: $sub-color;
                            font-size: 21px;
                        }
                    }
                }
            }

            a.facetapi-inactive, li.facetapi-active-wrapper, a.facetapi-limit-link {
                float: left;
                width: 100%;
                background: $passive-color;
                padding: $gutter-row/2;
                @include font-matesc(18px);
                color: $sub-color;

                &:hover, &:active, &:focus {
                    background: $passive-color-2; 
                }
                &:active {
                    color: $active-color;
                }

                i {
                    margin-right: $gutter-row;
                }
            }
            a.facetapi-active {
                padding-left: 0;
                margin-left: $gutter-row/2!important;
            }
            a.facetapi-limit-link {
                padding-left: 0;
                padding-right: 0;
                @include font-roboto(14px);
                text-align: center;
            }

        }
    }

    ul.pager {
        margin: 0;
        padding: $gutter-row 0;

        li {
            padding: 0;
            margin: $gutter-row/2;
            @include font-roboto(16px);

            &.pager-current {
                background: $passive-color-2;
                padding: $gutter-row;
                color: $active-color;
            }

            a {
                color: $sub-color;
                background: $passive-color;
                padding: $gutter-row;

                &:active, &:hover, &:focus {
                    background: $passive-color-2;
                    color:$active-color;
                }
            }
        }
    }

}


body.page-favoris-liste {
    h2.pane-title {
        display: inline-block;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.85);
        padding: 0 0 10px 15px;
        margin: 0;
        color: $sub-color;

        @include font-matesc(24px);
        text-shadow: 0px 1px 0px $passive-color;
    }
    .view-biens-liste .views-row {
        max-width: 480px;
        margin: auto;

        .views-row-3 {
            margin-left: 0;
        }
    }
    .views-field.views-field-ops {
        position: absolute;
        top:0;
        right: 0;
        margin: $gutter-row;

        .flag-throbber {
            display: none;
        }

        a {
            background: rgba(255, 255, 255, 0.8);
            @include font-roboto(14px);
            padding: $gutter-row;
            color: $sub-color;
        }
    }
}


/*
 * Pages
 */
body.node-type-pages {

    #main-content {
        max-width: $width-max-frame;
        margin: 0 auto;
        padding-top: 60px;

        /*#content {
            padding-top:60px;
        }*/

        /*#main-content-header {
            position: absolute;
            z-index: 100;
        }*/


        h1#page-title, .pane-node-title h2 {
            /*            margin-left: $gutter-row/2;*/

            margin-left: 0;
            padding-left: 0;

            display: inline-block;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.85);
            /*padding: 10px $gutter-row/2;*/
            color: $sub-color;

            @include font-matesc(24px);
            text-shadow: 0px 1px 0px $passive-color;
        }
    }

    #header {
        height: 2px;
    } 

    // Services
    &.services-page {
        #content { padding-top: 0;}

        #page-title { 
            margin-left: 0;
            padding-left: 0;
        }

        .contact-link {
            text-align: center;
        }

        #columns #section-2 {
            @include section-2;
            .region {
                .region-inner {
                    padding: 0;
                }
            }
        }

        .admin-actions { 
            z-index: 101;
            top: -58px; 
            .block-inner { 
                padding-top: $gutter-row*1.5; 
                a {
                    color: $sub-color;
                    padding: $gutter-row;
                    background: $passive-color;
                    @include font-roboto(16px);
                    &:hover {
                        background: $passive-color-2;
                    }
                }
            }
        }

        #columns .region {
            .region-inner {
                padding: 0;

                h3 {
                    @include font-matesc(24px);
                }

                p {
                    @include font-roboto(18px);
                }
            }
            &.region-three-33-bottom {
                padding-top: $gutter-frame*2;
                .region-inner {
                    padding: 0;
                }
            }

            .passive-color {
                .block-inner {
                    background: $passive-color;
                    padding: $gutter-frame;

                    p {
                        margin: 0;
                    }
                }
            }
            &.region-three-33-second {
                .region-inner {
                    padding: 0 $gutter-row;
                }
            }
        }

        #content {
            position: relative;
        }
    }

    // Agences
    &.agencies-page {
        #main-content {
            padding-bottom: $gutter-row;
            position: relative;

            .contact-link {
                margin-top: $gutter-row;
            }

            #content { padding-top: 0; }
            .admin-actions { 
                z-index: 101;
                top: 60px; 
                .block-inner { 
                    padding-top: $gutter-row*1.5; 
                    a {
                        color: $sub-color;
                        padding: $gutter-row;
                        background: $passive-color;
                        @include font-roboto(16px);
                        &:hover {
                            background: $passive-color-2;
                        }
                    }
                }
            }

            h1#page-title {
                margin-left: 0;
                padding-left: 0
            }

            .flexslider.flexslider-processed {
                border: none;
                margin: 0;
                margin-right: $gutter-row;

                .flex-control-nav {
                    bottom: 0;
                    z-index: 100;

                    li {
                        padding: $gutter-row;
                        background: rgba(255,255,255,.5);
                        margin: 0;
                        margin-bottom: $gutter-row;
                    }
                }

                .flex-direction-nav a {
                    height: 50px;
                }

                .slides {
                    li {
                        max-height: 475px;
                        overflow: hidden;
                        img {
                            /*min-height: 475px;*/
                            max-width: none;
                            width: 100%;
                        }
                    }
                }
            }

            .pane-node-body {
                @include font-roboto(16px);
                p {
                    margin: 0 0 $gutter-row 0;
                }
                h2 {
                    @include font-matesc(24px);
                    margin: $gutter-row 0 0 0;
                }
            }
        }
    }

    &.auvergne-page {

        #page-title {
            margin-left: 0;
            padding-left: 0
        }

        p {
            margin: 0;
            margin-top: $gutter-row/3;
        }

        .flexslider.flexslider-processed {
            border: none;
            margin: 0;

            .flex-control-nav {
                bottom: 0;
                z-index: 100;

                li {
                    padding: $gutter-row;
                    background: rgba(255,255,255,.5);
                    margin: 0;
                    margin-bottom: $gutter-row;
                }
            }

            .flex-direction-nav a {
                height: 50px;
            }

            .slides {
                li {
                    /*max-height: 475px;*/
                    overflow: hidden;
                    img {
                        /*min-height: 475px;*/
                        max-width: none;
                        width: auto;
                    }
                }
            }
        }

        #main-content {
            padding-bottom: $gutter-row;
            position: relative;
            @include font-roboto(16px);

            h3 {
                @include font-matesc(24px);
                color: $sub-color;
            }

            .admin-actions {
                z-index: 101;
                top: 60px; 
                .block-inner { 
                    padding-top: $gutter-row*1.5; 
                    a {
                        color: $sub-color;
                        padding: $gutter-row;
                        background: $passive-color;
                        @include font-roboto(16px);
                        &:hover {
                            background: $passive-color-2;
                        }
                    }
                }
            }

            .region.region-two-33-66-top { }
            .region.region-two-33-66-first .region-inner {
                #mini-panel-page_auvergne_row_1 {
                    .region-inner .panel-pane {
                        padding-right: $gutter-row;
                        padding-bottom: $gutter-row;
                    }
                }
            }
            .region.region-two-33-66-second .region-inner {
                #mini-panel-page_auvergne_row_1, #mini-panel-page_auvergne_row_2 {
                    .region-inner .panel-pane {
                        padding-left: $gutter-row;
                        padding-bottom: $gutter-row;
                    }
                }
            }
            .region.region-two-33-66-bottom .region-inner {
                #mini-panel-page_auvergne_row_3 {
                    .region-inner .panel-pane {
                        padding-left: $gutter-row;
                        padding-bottom: $gutter-row;
                    }
                }
            }
        }

        .view-localites-liste-aggregated {
            .views-row {
                margin-bottom: $gutter-row;
            }
        }
    }

    /* Page terrain */
    &.terrains-liste {
        #content {
            position: relative;

            table {
                width: 100%;
                border: none;

                thead {
                    display: none;
                }

                p {
                    padding: 0;
                    margin: 0;
                }

                @include font-roboto(1.05em);
            }

            .admin-actions {
                top: -50px;

                .block-inner {
                    padding: 0;
                }
                p {
                    margin: 0;
                }
                a {
                    padding: $gutter-row;
                    background: $passive-color;
                    @include font-roboto(16px);
                    color: $sub-color;

                    &:hover {
                        background: $passive-color-2;
                        color: $active-color;
                    }
                }
            }
        }


        #block-locale-language-content ul li img {
            display: block;
        }

        #block-system-main-menu {
            margin-top: 72px;
        }

        #columns {
            padding-bottom: $gutter-frame;
        }
    }
}




/*
 *
 * Page localite / taxonomy term
 */

body.page-taxonomy-term {

    #page-title { 
        display: inline-block;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.85);
        padding: 10px $gutter-row/2;
        color: $sub-color;

        @include font-matesc(24px);
        text-shadow: 0px 1px 0px $passive-color;
        margin-left: 0;
        padding-left: 0
    }

    p {
        margin: 0;
        margin-top: $gutter-row/3;
    }

    h3 {
        @include font-matesc(24px);
        color: $sub-color;
    }

    #main-content {
        padding-bottom: $gutter-row;
        position: relative;
        @include font-roboto(16px);


        .admin-actions {
            z-index: 101;
            top: 0; 
            .block-inner { 
                padding-top: $gutter-row*1.5; 
                a {
                    color: $sub-color;
                    padding: $gutter-row;
                    background: $passive-color;
                    @include font-roboto(16px);
                    &:hover {
                        background: $passive-color-2;
                    }
                }
            }
        }
    }

    /* Page terrain */
    &.page-taxonomy-term {
        #content {
            position: relative;

            table {
                width: 100%;
                border: none;

                thead {
                    display: none;
                }

                p {
                    padding: 0;
                    margin: 0;
                }

                @include font-roboto(1.05em);
            }

            .admin-actions {
                top: -50px;

                .block-inner {
                    padding: 0;
                }
                p {
                    margin: 0;
                }
                a {
                    padding: $gutter-row;
                    background: $passive-color;
                    @include font-roboto(16px);
                    color: $sub-color;

                    &:hover {
                        background: $passive-color-2;
                        color: $active-color;
                    }
                }
            }
        }


        #block-locale-language-content ul li img {
            display: block;
        }

        #block-system-main-menu {
            margin-top: 62px;
        }

        #columns {
            padding-bottom: $gutter-frame;
        }
    }
}




/*
 *
 * Pages contact
 */
body.page-contact {
    .field-name-description-field {
        padding-bottom: $gutter-row*2;
        h2 {
            @include font-matesc(24px);
            margin: 0;
        }
        p {
            margin: 0;
            margin-top: $gutter-row;
            @include font-roboto(16px);
        }
    }
    &.page-contact-defaut .field-name-description-field h2 {
        padding-top: $gutter-row;
    }

    #overlay-custom {
        #main-content {
            padding: $gutter-row*4;
            padding-bottom: $gutter-row*3;

            .contact-vertical-agence {
                .field-name-field-image {
                    /*max-height: 145px!important;*/
                }

                &.annick { 
                    .field-name-field-image { 
                        overflow: hidden;
                        position: relative;
                        width: 100%;
                        height: 312px!important; 
                        max-height: none!important;
                    }
                }
            }
        }
    }

    &.page-panels {
        #content-column {
            #main-content {
                margin: 0 auto;
                max-width: $width-max-frame;
            }
        }
    }



    .contact-vertical-agence {
        //@include contact-vertical-els;

        .field-name-field-image {
            /*max-height: 145px!important;*/
            &.annick {
                max-height: none;
            }
            img {
                width: 100%;
            }
        }
    }

    #block-system-main {
        padding-bottom: $gutter-row;
    }

    #mini-panel-contact_description {
        h2 {
            @include font-matesc(24px);
        }
        p {
            @include font-roboto(16px);
            margin-top: 0;
        }
    }

    #main-content {
        position: relative;
    }

    table {
        border: none;
        width: 100%;

        th, tr, td {
            background: none;
            @include font-roboto(16px);
            border: 1px solid $passive-color-2;
        }
        th {
            background: $passive-color;
            font-weight: bold;
            padding: $gutter-row;
        }

        td {
            padding: $gutter-row;
            &.views-field-field-photos {
                border: none;
            }
        }

        a {
            color: $sub-color;
            @include font-roboto(16px);
            i {
                margin-right: $gutter-row/2;
            }
        }
    }

    &.page-contact-liste {
        #overlay-custom .overlay-inner {
            width: 80%;
            min-width: 960px;
            max-width: 1600px;
            margin: $gutter-frame*5 auto;
        }
    }
}




.contact-vertical-agence {
    @include contact-vertical-els;

    .field-name-field-image {
        /*        max-height: 145px!important;*/
        &.annick {
            max-height: none!important;
        }
        img {
            width: 100%;
        }
    }
}


/*
 *
 * Page services admin
 */
.page-node-25.page-node-admin, .page-node-26.page-node-admin {
    label, .tabledrag-toggle-weight-wrapper {
        display: none;
    }
    .field-add-more-submit { font-size: 16px; }

    .form-actions.form-wrapper { margin: 0; }
}
body.page-node-admin {
    #overlay-custom .overlay-inner {
        width: 80%;
        min-width: 960px;
        max-width: none;
        max-width: 1600px;
        margin: $gutter-frame*5 auto;
    }

    form .region .region-inner {
        padding: $gutter-row/2;
    }

    .filter-wrapper { display: none; }

    label {
        @include font-matesc(24px);
    }

    input {
        @include radius-small;
        border: 1px solid #C4A95A;
        background-color: #ebe7db;
        padding-left: $gutter-row;
        line-height: 2.5em;
        max-width: 450px;

        &.form-text {
            width: 98%;
        }
        color: $sub-color;

        &[type="submit"] {
            color: #f5e990;
            @include font-matesc(24px);
            text-align: center;
            background: #56843c;
            border-color: #3E6E23;
            line-height: 1.5em;
            padding: $gutter-row/2 $gutter-row;

            &#edit-btn-cancel {
                background: none;
                color: #B83A1D;
                border: none;
                @include font-roboto(14px);
                text-decoration: underline;
            }
        }
    }
    .form-actions {
        text-align: right;
    }
}

.admin-actions {
    position: absolute;
    z-index: 101;
    top: 0;
    right: 0;

    .block-inner {
        padding-top: $gutter-row*2;

        p {
            margin: 0;
            a {
                padding: $gutter-row;
                background: $passive-color;
                @include font-roboto(16px);
                color: $sub-color;

                &:hover {
                    background: $passive-color-2;
                    color: $active-color;
                }
            }
        }
    }
}




/*
 *
 * messages
 */
#messages {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: $gutter-frame;
    z-index: 999;
    max-width: 800px;

    .messages {
        background-image: none;
        padding: $gutter-row/2;
        @include radius-small;
    }
}



/*
 * forms
 */
form.node-contact-form {

    .region.region-two-33-66-second .region-inner {
        padding: 0;
        padding-left: $gutter-row*4;
    }

    textarea, input {
        @include radius-small;
        border: 1px solid #C4A95A;
        background-color: #ebe7db;
        padding-left: $gutter-row;

    }

    textarea#edit-txt-to-addrs, textarea#edit-txt-message {
        width: 100%;
        height: 2.8em;
        padding-top: $gutter-row;
        padding-bottom: $gutter-row;
    }
    textarea {
        height: 200px;
        line-height: $gutter-row*2;
        padding-top: $gutter-row;
    }

    input {
        line-height: 2.5em;

        &.form-text {
            width: 100%;

        }
        color: $sub-color;

        &[type="submit"] {
            color: #f5e990;
            @include font-matesc(24px);
            text-align: center;
            background: #56843c;
            border-color: #3E6E23;
            line-height: 1.5em;
            padding: $gutter-row/2 $gutter-row;

            &#edit-btn-cancel {
                background: none;
                color: #B83A1D;
                border: none;
                @include font-roboto(14px);
                text-decoration: underline;
            }
        }
    }

    .form-item {
        margin: $gutter-row 0;

        &:nth-of-type(1) {
            margin-top:0;
        }

        &.form-type-textfield {
            width: 60%;
        }

        &.form-item-field-phone-number-und-0-value {
            width: 45%;
        }
    }

    .form-type-textarea {
        .description {
            @include font-roboto(12px);
            color: $sub-color;
        }
    }
}

/*
 * BAD HACK
 */

#overlay-container { z-index: 999; }
@include overlay-custom;


.sidr ul li { line-height: 0; }
.sidr ul li a, .sidr ul li span { display: inline; }
.sidr-class-element-invisible { display: none!important; }


.sidebar-second .content-inner {
    margin-right: 0!important;
}
.second-sidebar-rigth-wrapper {
    display: none;
}
body.not-front .sidebar-scroller #block-system-main-menu ul.menu {
    padding-top: 0;
}

.tel-number {
    @include font-matesc(24px);
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 3em;
    color: white;

    i {
        margin-right: 10px;
    }

    span {
        background: rgba(86, 132, 60, 0.5);
        padding: 7px 5px;

        strong {
            border: 1px solid white;
            font-weight: normal;
            padding: 0 10px;
        }
    }
}ad

.pane-fieldable-panels-pane {
    &.pane-fpid-9, &.pane-fpid-11, &.pane-fpid-13 {
        h2 {
            display: none;
        }
    }
}
li.info-title {
    z-index: 60;
}

.language-link.locale-untranslated {
    margin-left: 65px;
    margin-top: 25px;
    visibility: hidden;
}

body.page-user {
    #block-system-main-menu {
        margin-top: 62px;
    }
}

#sliding-popup .popup-content #popup-buttons {
    button, button:hover, button:focus, button:active {
        background: none;
        border: none;
        margin: 0;
        margin-top: 5px;
        box-shadow: none;
        text-shadow: none;
        @include font-roboto(1em); 
    }
}
#popup-text {
    @include font-roboto(1em); 
}
.popup-content.agreed {
    display: none!important;
}

/*body.front {
    .pane-locale-language-content {
        top: 0;
    }
}*/
body.not-front {
    .sidebar-swipe {
        background: none;
        box-shadow: none;
    }
}
#mini-panel-bien_search_column_filter { padding-bottom: $gutter-row!important;}
.page-bien-immobilier-liste, .page-estate-search {
    .admin-actions {
        top: 25px;
    }
    .pane-estate-search-row {
        .pane-title.block-title {
            @include font-matesc(24px);
            padding-left: 10px;
        } 
    }
}