
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the default font size on small touch devices */
body {
    font-size: 100%;
}

.sidebar-swipe {
    z-index: 69;
}


body.front #section-1, #section-2, #section-3, body.not-front #mini-panel-entete_de_page, body.not-front #content .pane-service-links-service-links .block-inner, body.not-front #mini-panel-bien_row, #mini-panel-estate_search_row, .admin-actions .block-inner, body.page-estate #main-content-header, body.agencies-page #block-system-main, body.page-contact.page-panels #block-system-main, body.auvergne-page #block-system-main, #main-content-header,
.view-search-api-search .views-row,
body.page-bien-immobilier-liste #mini-panel-estate_search_row, body.page-estate-search #mini-panel-estate_search_row,
body.node-type-pages.services-page #columns .region.region-three-33-first .panel-pane, body.page-taxonomy-term #block-system-main,
body.node-type-pages.services-page #columns .region.region-three-33-third .panel-pane {
    padding: 0!important;
}


/*
 * LANGUE SELECTOR
 */
.lang-flag {
    display: none!important;
}
.lang-noflag {
    position: absolute!important;
    top: -30px;
}
//*/


/*
 * HOME
 */
body.front .view-localites-liste-aggregated .views-row {
    margin-bottom: 0!important;
}

body.front {
    #site-title {
        margin-top: 30px!important;
        margin-bottom: 15px!important;

        h1 {
            line-height: 1em!important;
        }

        .block-inner {
            margin-left: $gutter-row/2!important;
            margin-right: $gutter-row/2!important;
        }
    }

    #agence-1, #agence-2 {
        h4, h3, p {
            margin-bottom: $gutter-row/2!important;
        }
    }
}




/*
 * HOME
 * SECTION 1
 */

body.front #section-1  {
    min-height: 982px!important;
    padding: 0!important;
    padding-top: 46px!important;
}

body.front #section-1 .block-inner section.pane-coup-de-coeur-shortlist {
    top: 0!important;
    position: relative!important;

    .coup-de-coeur {
        .views-field-field-photos {
            img {
                width: 100%;
            }
        }
    }
}

body.front #section-1 .block-inner .more-link {
    position: relative!important;
    height: auto!important;

    .block-content {
        margin-top: 0!important;
        text-align: center;

        a {
            float: left;
            width: 100%;
            margin: 0!important;
            padding-left: 0!important;
            padding-right: 0!important;
        }
    }
}

body.front {
    .ldsSkin.ddcommon {
        top: -50px;
    }
    .pane-coup-de-coeur-shortlist {
        h2.pane-title.block-title {
            margin-bottom: 0!important;
            font-size: 100%!important;
            width: 100%!important;
        }
    }
}


/*
 * HOME
 * SECTION 2
 */
body.front #section-2, body.front #section-3 {
    padding: 0!important;
    padding-top: $gutter-row!important;
}


body.front #section-2 .block-inner .region #agence-1,
body.front #section-2 .block-inner .region #agence-2 {
    background: none;
}

body.front #section-2 .block-inner .region #agence-2 {
    margin-top: 0!important;
}

.view-biens-liste .views-row, .view-coup-de-coeur .views-row, .view-search-api-search .views-row {
    width: 100%!important;
    line-height: 0;
    a {
        line-height: 0;
    }
    h4 a {
        line-height: 1em;
    }
}
.view-biens-liste .views-row.views-row-3, .view-coup-de-coeur .views-row.views-row-3, .view-search-api-search .views-row.views-row-3 {
    margin: 0!important;
}

body.front #section-2 {

    .block-inner .region.region-three-33-bottom ul.menu {
        text-align: center!important;
        padding: 0!important;
    }

    .pane-menu-menu-submenu-infos-utilities {
        padding-top: 10px;
    }

    .region.region-three-33-top .region-inner {
        padding-left: $gutter-row;
        padding-right: $gutter-row;

        h2 {
            font-size: 100%!important;
            margin-bottom: 0!important;
        }
    }

    .pane-menu-menu-submenu-infos-utilities {
        padding-top: 0!important;
        ul {
            padding: 0!important;
            margin: 0!important;
            height: 45px!important;

            li {
                text-align: center!important;
                float: left!important;
                width: 50%!important;
                padding-left: 0!important;
                padding-right: 0!important;
                margin: 0!important;

                a {
                    float: left!important;
                    width: 100%!important;
                    padding-left: 0!important;
                    padding-right: 0!important;
                    margin: 0!important;
                }
            }
        }
    }
}

/*
 * HOME
 * SECTION 3
 */
body.front #section-3 .view-localites-liste-aggregated .views-row {
    margin-right: 0!important;
}

body.front #section-3 {
    .region.region-two-66-33-second {
        .field-name-field-image {
            margin-top: $gutter-row;
            margin-bottom: $gutter-row;
            text-align: center;
            img {
                margin: auto;
            }
        }
    }
    .region.region-two-66-33-top .region-inner {
        padding-left: $gutter-row;
        padding-right: $gutter-row;

        h2 {
            font-size: 100%!important;
            margin-bottom: $gutter-row!important;
            padding-bottom: 2.2em!important;
        }
    }
}



/*
 * PAGES
 */

body.node-type-pages.agencies-page #main-content .flexslider.flexslider-processed {
    margin-right: 0!important;
}
body.not-front {
    #page-title {
        padding-left: $gutter-row/2!important;
        margin: 5px 0!important;
    }
    #mini-panel-entete_de_page #site-title {
        padding-left: 68px!important;
        margin: 0!important;
    }

    /*
     * agencies
     */
    &.agencies-page {

        .contact-vertical-image {
            display: none;
        }

        .field-name-body {
            padding: $gutter-row/2;
        }

        .contact-link {
            text-align: center;
        }
    }

    /*
     * services
     */
    &.services-page {
        .panel-pane.pane-panels-mini.contact-link {
            margin-top: 8px;
            width: 100%!important;
            a {
                float: left;
                width: 100%;
                margin-top: -8px;
                padding-left: 0!important;
                padding-right: 0!important;
            }
        }

        .pane-link-contact-location.contact-link  {
            a {
                border-bottom: 0!important;
            }
        }

        .region.region-three-33-second .region-inner {
            padding: 0!important;
        }

        .region.region-three-33-bottom {
            padding-top: $gutter-row*2!important;
        }

        #section-2 .block-inner .region.region-three-33-top .block-inner {
            h2 {
                font-size: 100%!important;
                margin: auto!important;
                margin-bottom: 0!important;
                max-width: 230px!important;
            }
        }


        .block-inner .region #agence-2 {
            margin-top: 0!important;
        }

        #mini-panel-home_section_2 {
            .region.region-three-33-bottom {
                padding-top: 0!important;
                ul {
                    padding: 0!important;
                    margin: 0!important;
                    li {
                        text-align: center!important;
                        float: left!important;
                        width: 50%!important;
                        padding-left: 0!important;
                        padding-right: 0!important;
                        margin: 0!important;

                        a {
                            float: left!important;
                            width: 100%!important;
                            padding-left: 0!important;
                            padding-right: 0!important;
                            margin: 0!important;
                        }
                    }
                }
            }
        }
    }

    /*
     * bien liste
     * search page
     */
    &.page-bien-immobilier-liste , &.page-estate-search {


        .pane-estate-search-row .region.region-two-66-33-second {
            display: none;
        }

        .view-search-api-search .views-row { 
            padding-bottom: $gutter-row/2!important;
        }

        #views-exposed-form-search-api-search-panel-pane-1, #views-exposed-form-search-api-search-panel-pane-1-1,
        #mini-panel-bien_search_column_rigth,  #mini-panel-bien_search_column_rigth-1{
            input {
                margin-top: 0;
                @include radius-small;
                border: 1px solid #C4A95A;
                /*background-color: #ebe7db;*/
                /*padding-left: $gutter-row;*/
                line-height: 2.5em;
                /*max-width: 450px;*/

                &#edit-folder {
                    float: left;
                }

                &.form-text {
                    width: 100%;
                }
                color: $sub-color;

                &[type="submit"] {
                    color: #f5e990;
                    @include font-matesc(24px);
                    text-align: center;
                    background: #56843c;
                    border-color: #3E6E23;
                    line-height: 1.05em;
                    padding: $gutter-row/2 0;
                    width: 100%;
                    height: 44px;
                }
            }

            .views-exposed-widgets {
                margin-bottom: 0!important;
                margin-left: $gutter-row/2!important;
                margin-top: $gutter-row/2!important;
            }
            #edit-folder-wrapper {
                width: 75%!important;
            }
            #edit-submit-search-api-search {
                padding-left: $gutter-row/2;
                padding-right: $gutter-row/2;
            }
            .views-exposed-form .views-exposed-widget {
                padding: 0;
            }
            form {
                background: $passive-color!important;
                padding-bottom: $gutter-row/2;
            }
            ul {

                list-style: none;
                margin: 0;
                border-top: $gutter-row/2 solid $passive-color-2;
                &.facetapi-facet-field-localite-ref {
                    /*border-top: none!important;*/
                } 

                li {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    clear: left;

                    &.facetapi-active-wrapper {
                        padding-left: 0!important;
                        padding-right: 0!important;

                        a {
                            margin-left: $gutter-row;
                            width: 30px;
                            height: 35px;
                            overflow: hidden;
                            color: $sub-color;
                            font-size: 100%;
                        }
                    }
                }
            }

            a.facetapi-inactive, li.facetapi-active-wrapper, a.facetapi-limit-link {
                float: left;
                width: 100%;
                /*background: $passive-color;*/
                padding: $gutter-row/2;
                @include font-matesc(18px);
                font-size: 95%;
                color: $sub-color;

                &:hover, &:active, &:focus {
                    background: rgba(235, 231, 219, .8);
                }
                &:active {
                    color: $active-color;
                }

                i {
                    margin-right: $gutter-row;
                }
            }
            a.facetapi-active {
                padding-left: 0;
                margin-left: $gutter-row/2!important;
            }
            a.facetapi-limit-link {
                padding-left: 0;
                padding-right: 0;
                @include font-roboto(14px);
                font-size: 80%;
                text-align: center;
            }

        }

    }

    /*
     * PAGE bien immobilier
     */
    &.node-type-bien-immobilier { 
        section.pane-service-links-service-links {
            background: none!important;
            position: relative!important;

            .block-inner {
                h2.block-title {
                    padding: 0!important;
                    margin: $gutter-row/2 0 0 $gutter-row/2!important;
                    width: 95%;
                    line-height: 0.85em!important;
                    background: rgba(255, 255, 255, 0.8);
                    /*                margin-left: .35em!important;
                                    margin-right: 75px!important;
                                    margin-top: .2em!important;*/
                }
                .service-links {
                    position: absolute;
                    right: 0;
                    top: 45px;
                    ul li {
                        &.first {
                            display: none!important;
                        }
                        display: block!important;
                        margin-right: $gutter-row!important;
                    }
                }

            }
        }
    }

    /*
     * page localite
     */
    &.page-taxonomy-term {
        img.image-style-large {
            border: none!important;
        }
        .pane-taxonomy-term-description-field {
            padding: 0 $gutter-row/2!important;
            padding-bottom: $gutter-row!important;
        }
    }
}


/*
 * HEADER
 */
body.not-front #block-panels-mini-entete-de-page .region-inner {
    padding-top: 0px !important;
    height: 50px!important;
}
h1.site-title {

    line-height: .75em!important;
    width: 80%!important;
    margin-top: 5px!important;

    a {
        font-size: 85%!important;
    }
}






/*
 * FOOTER
 */
#footer {
    padding: 0!important;
}

#footer .region-inner #mini-panel-pied_de_page {
    padding-left: $gutter-row/2;
    padding-right: $gutter-row/2;
}





/*
 * OVERLAY
 */
#overlay-inner, .overlay-inner    {
    width: 98% !important;
    max-width: 98% !important;

    #main-content { // (82)
                    padding: 35px $gutter-row/2!important; 
    }
    #main-content-header h1 {
        line-height: 1em!important;
    }

    #main-content input.form-text {
        width: 96%!important;
    }
    #panel-bien_row_description .region-two-33-66-first {
        width: 100%;
    }
    #mini-panel-bien_contact_link {
        text-align: center;
    }

    form.node-contact-form .region.region-two-33-66-second .region-inner {
        padding-left:0!important;
        padding-top: $gutter-row!important;

        .form-item.form-type-textfield {
            width: 100%!important;
        }
        input.form-text {
            width: 100%!important;
        }
        .form-actions.form-wrapper {
            text-align: center!important;
        }
    }
}


body.page-contact.page-contact-defaut {

}




/*
 * BAD HACK
 */
.second-sidebar-rigth-wrapper {
    display: block!important;
}
body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-description-link a, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-autres-a-proximite a, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-link-flag-favoris a, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .favoris-link a, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-contact-link a {
    padding-left: 0!important;
    padding-right: 0!important;
}
body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-description-link a i, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-autres-a-proximite a i, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-link-flag-favoris a i, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .favoris-link a i, body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-contact-link a i {
    margin-left: $gutter-row;
}
body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-column-left {
    padding-top: $gutter-row!important;
}
body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-localites-liste-aggregated-panel-pane-1 {
    margin: 0!important;
    margin-bottom: $gutter-row!important;
}
body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-second {
    padding-top: 0!important;
}
#mini-panel-bien_contact_link {
    margin-bottom: $gutter-row!important;
    a {
        margin-bottom: 0!important;
    } 
}

body.front #section-1 #site-title {
    top: 0!important;
}

body.page-contact-defaut {
    input.form-text {
        width: 100%!important;
    }
    form.node-contact-form .form-item { 
        width: 95%!important;
    }
    form.node-contact-form .form-item.form-type-textarea {
        width: 98%!important;
    }
    .field-name-description-field  {
        padding: 0 $gutter-row/2!important;
    }
    form.node-contact-form .region.region-two-33-66-second .region-inner {
        padding-left: $gutter-row/2!important;
    }
    .form-actions {
        text-align: center;
    }
}

.tel-number {
    top: -50px!important;
}

.pane-locale-language-content {
    top: -38px!important;
}
body.not-front #columns #content-column #main-content .panel-pane.pane-bien-row .region.region-two-33-66-first .pane-bien-column-left {
    padding-right: 0!important;
}