
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */

/* Increase the body font size on small devices */
html {
    font-size: 81.3%; 
}

body.not-front #block-panels-mini-entete-de-page .region-inner #site-title h1 a {
    font-size: 1.2em!important;
    line-height: 27px;
}

.sidebar-toggle-rigth-wrapper {
    top: 61px;
}

body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-inactive, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth a.facetapi-limit-link, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-inactive, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 li.facetapi-active-wrapper, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 a.facetapi-limit-link, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-inactive, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 li.facetapi-active-wrapper, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 a.facetapi-limit-link, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-inactive, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth li.facetapi-active-wrapper, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth a.facetapi-limit-link, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-inactive, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 li.facetapi-active-wrapper, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 a.facetapi-limit-link,
body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1 input#edit-folder, body.not-front.page-bien-immobilier-liste #views-exposed-form-search-api-search-panel-pane-1-1 input#edit-folder, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth input#edit-folder, body.not-front.page-bien-immobilier-liste #mini-panel-bien_search_column_rigth-1 input#edit-folder, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1 input#edit-folder, body.not-front.page-estate-search #views-exposed-form-search-api-search-panel-pane-1-1 input#edit-folder, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth input#edit-folder, body.not-front.page-estate-search #mini-panel-bien_search_column_rigth-1 input#edit-folder {
    font-size: 1.25em;
}

.region-sidebar-first, .region-sidebar-second {
    margin-top: $gutter-row/2;
}

.pane-locale-language-content {
    top: $gutter-row!important;
}