// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }


//custom color
$navigation-color: #0c7b2e ;
$action-color: #ee454c ;
$buttonicon-color : rgba(255, 236, 234, 0.95);
$button-color : rgba(201, 172, 142, 0.95) ;
$backgroundtitle-color : rgba(243, 215, 184, 0.95) ;
$option-color : #d9cfb6;

//font custom

$font-style : 'Trajan Pro 3' ;
$font-color : #2b2b2b ;

// 05 bis. Button Custom
$fonttitle : 400 28.86px 'Trajan Pro 3';
$fonttitle-color : #333333 ;